$color-primary: #2ac3f2;
$color-primary-compliment: #fff;
$color-secondary: #6B6868;
$color-secondary-compliment: #fff;

$variant-option-1: #29bc94;
$variant-option-2: #8246bf;
$variant-option-3: #ff9517;

html {
	height: 100%;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	font-family: 'Lato';
	background-color: #f1f1f1;
	overflow-x: hidden;

	&.hide-menu {
		.navbar .navbar-nav > li > a.menu-btn {
			color: #fff;
			border: 1px solid #fff;
		}
		aside {
			transform: translateX(-220px);
			-webkit-transform: translateX(-220px);
			-moz-transform: translateX(-220px);
			-o-transform: translateX(-220px);
			-ms-transform: translateX(-220px);
		}
		main {
			margin-left: 0;
		}
	}
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
button {
	outline: none !important;
}
th.sortable {
	cursor: pointer;
	cursor: hand;
}
.list-style-dot {
	list-style: initial !important;
}
.cursor-pointer {
	cursor: pointer;
}
hr {
	border-color: #dddddd;
}
a {
	&.link {
		font-size: 14px;
		font-weight: normal;
		color: $color-primary;
		text-decoration: underline;
		&.disabled{
			opacity: .5;
			cursor: not-allowed;
		}
		&:hover {
			opacity: 0.7;
		}

		&.btn {
			color: inherit;
			text-decoration: inherit;
			font-weight: inherit;
			font-size: inherit;
		}
	}
}
.fa-spin {
	-webkit-animation: fa-spin 0.7s infinite linear;
	        animation: fa-spin 0.7s infinite linear;
}
.toggle {
	&.btn {
		min-width: 70px;
	}
}
.btn {
	border-radius: 2px;
}
.btn-transparent {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: transparent;
	border: 1px solid #DAD7D5;
	border-radius: 2px;
	color: #E6E6E6;
	&.active, &:hover {
		border-color: #fff;
		color: #fff;
	}
}
.btn-full {
	width: 100%;
	margin: 3px 0;
}
.btn-inherent {
	margin-left: 8px;
	font-weight: 400;
	text-decoration: underline;
	color: $color-primary;
}
.btn-color-primary {
	background: $color-primary;
	border-color: $color-primary;
	color: #fff;
}
.remove-btn-styles {
	border: none !important;
	box-shadow: none !important;
	background: none !important;
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.flex-item{
	flex: 1;
}
.selected-country-list{
	.flex-container{
		width: 100%;
		padding: 10px;
		&:hover{
			background-color: #ebf5fa;
		}
		.provinces{
			cursor: pointer;
			margin-right: 10px;
			&:hover{
				background-color: #ebf5fa;
			}
		}
		.flex-item{
			width: 100%;
			.close{
				cursor: pointer;
			}
		}
	}

}
.render-shipping-rates-list{
	table{
		tbody{
			tr{
				td{
					.edit{
						cursor: pointer;
						&:hover{
							background-color: #f5f5f5;
						}
					}
				}
			}
		}
	}
}
.align-middle {
	vertical-align: middle !important;
}
.display-table {
	display: table;
	width: 100%;
	height: 100%;
	.display-cell {
		display: table-cell;
		vertical-align: middle;
	}
}
.display-inline-block {
	display: inline-block;
	padding: 0 15px;
	width: auto;
}
.inline-blocks {
	> * {
		display: inline-block;
		margin-right: 10px;
	}
}
.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}
.no-border {
	border: none !important;
}
.no-border-top {
	border-top: none !important;
}
.no-border-bottom {
	border-bottom: none !important;
}
.no-shadow {
	box-shadow: none !important;
}
.row-margin-default .row {
	margin-left: -15px !important;
	margin-right: -15px !important;
}
.border-right-light {
	border-right: 1px solid #eee;
}
.xs-text {
	font-size: 10px;
}
.sm-text {
	font-size: 12px;
}
.md-text {
	font-size: 14px;
}
.lg-text {
	font-size: 18px;
}
.xl-text {
	font-size: 26px;
}

.text-bold {
	font-weight: bold;
}
.text-lighter {
	font-weight: initial !important;
}
.text-light {
	color: #808080;
}
.text-primary {
	color: $color-primary;
}
.text-success {
	color: #5cb85c;
}
.text-danger {
	color: #d9534f !important;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-underline-hover {
	&:hover {
		text-decoration: underline;
	}
}
.text-icon {
	i {
		font-size: 16px;
		padding-right: 15px;
		color: #808080;

		&.text-primary {
			color: $color-primary;
		}
	}
}
.checkbox-item {
	cursor: pointer;
}
.sent-on{
	padding-bottom: 10px;
	color: #808080;
	font-size: 12px;
}
.status-tag {
	background: #ddd;
	padding: 5px 10px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 11px;

	&.status-tag-yellow {
		background: #fee67f;
	}
	&.status-tag-orange {
		background: #fec07f;
	}
	&.status-tag-danger {
		background: #d9534f;
		color: #FFF;
	}
	&.status-tag-success {
		background: #5cb85c;
		color: #FFF;
	}
}
.uppercase {
	text-transform: uppercase;
}

.full-width {
	width: 100%;
}

.break-word {
	word-break: break-all;
}


.rating-list {
    padding-left: 0;
    list-style: none;
    display: -webkit-inline-box;
    display: inline-flex;
    margin: 0px 5px;

    li{
	    display: inline-block;
	    padding-left: 3px;
	    padding-right: 3px;
    	opacity: 1;
    	color: #ffd700;

	    &.active , &.light {
	    	opacity: 1 !important;
	    	color: #ffd700 !important;
	    }

	    &.active ~ li {
	    	opacity: 0.3;
	    	color: inherit;
	    }

	    &.light:last-child ~ li , &.off{
	    	opacity: 0.3 !important;
	    	color: inherit !important;
	    }
    }

    &:not(.display) li:hover ~ li {
    	opacity: 0.3 !important;
    }
}

/* The switch - the box around the slider */
.input-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.input-switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.validation-hidden {
	overflow: hidden;
	margin: 0;
	border: none;
	height: 1px;
	width: 1px;
	padding: 0;

	* {
		margin: 0;
		border: none;
		max-height: 0;
		height: 0;
		padding: 0;
	}

	ul {
		display: none;
	}
}

.flex {
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;

	.flex-content {
		width: 100%;

		i {
			padding-right: 15px;
			font-size: 16px;
			color: $color-secondary;

			&.text-success {
				color: #5cb85c;
			}
		}
	}

	.flex-content-left {
		word-wrap: break-word;
		word-break: break-word;
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
		position: relative;
		padding-right: 20px;
	}

	.flex-content-right {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		text-align: right;
	}
}

.content-inline-blocks {

	&.content-inline-blocks-right {
		text-align: right;
	}

	> * {
		display: inline-block;

		&.btn {
			margin-left: 10px;
		}
	}
}

.loader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	&.loader-asset {
		position: static;
		height: auto;
	}
	.spinner {
		width: 40px;
		height: 40px;
		background-color: $color-primary;
		margin: 100px auto;
		-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
		animation: sk-rotateplane 1.2s infinite ease-in-out;
	}
	@-webkit-keyframes sk-rotateplane {
		0% { -webkit-transform: perspective(120px) }
		50% { -webkit-transform: perspective(120px) rotateY(180deg) }
		100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	}
	@keyframes sk-rotateplane {
		0% {
			transform: perspective(120px) rotateX(0deg) rotateY(0deg);
			-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
		} 50% {
			transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
			-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
		} 100% {
			transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		}
	}
}

#page-loader {
	background-color: rgba(0,0,0,0.5);
	position: fixed;

	.spinner {
		background-color: $color-primary-compliment;
	}
}

#login {
	position: relative;
	
	.banner-container{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

		.banner{
			height: 100vh;
			width: 100%;
			background-size: cover;
			background-position: center;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	.banner-details-container{
		color: #fff;

		.details{
			.heading{
				font-size: 50px;
				text-shadow: 1px 2px 5px #000;
			}
			.sub-heading{
				text-shadow: 1px 2px 5px #000;
			}
		}
	}
	.login-container{
		display: flex;
		height: 100vh;
		align-items: center;
		justify-content: space-between;

		.column{
			&:first-of-type{
				flex-basis: 40%;
			}
			&:last-of-type{
				flex-basis: 58%;
			}
		}
	}

	@media screen and (max-width: 767px) {
		.banner-details-container{
			display: none;
		}
	}
}

.navbar {
	background-color: $color-primary;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 52px;
	.navbar-brand {
		padding: 10px 0;
		img {
			max-height: 100%;
		}
	}
	.navbar-nav {
		padding-top: 10px;
		padding-bottom: 10px;
		>li {
			margin-left: 6px;
			>a {
				@extend .btn-transparent;
			}
		}
	}
}

.banner-status-info {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-top-width: 5px;
	border-radius: 3px;

	&.bg-info {
		border-top-color: #1b809e;
	}

	.cell-icon {
		font-size: 24px;
		color: #1b809e;
		padding-right: 15px;
	}

	td {
		vertical-align: middle;
	}
}

.form-box-checkbox {
	display: inline-block;
	position: relative;
	width: 18px;
	height: 18px;
	// float: right;
	margin-right: 10px;

		input[type="checkbox"] {
		    width: 100%;
		    height: 100%;
		    position: absolute;
			cursor: pointer;
		}
}

.form {
	padding: 20px 14px;
  	border: 1px solid #dddddd;
  	background: #fff;

  	.form-box {
  		position: relative;
		padding: 20px 14px;
	  	border: 1px solid #dddddd;
	  	background: #fff;
	  	margin-top: 20px;
	  	-webkit-box-shadow:0 2px 5px -3px rgba(0,0,0,.1);
	  	        box-shadow:0 2px 5px -3px rgba(0,0,0,.1);

	  	&:first-child {
	  		/* margin-top: 0;*/
	  	}

	  	label {
	  		font-weight: 500;
	  	}

	  	&.form-box-card {
	  		background-color: #f9fafb;
	  		padding-top: 20px;
	  		border-top: none;

	  		td, th {
	  			vertical-align: top;
		  		padding: 6px 10px;

		  		&:first-child {
		  			padding-left: 0;
		  		}

		  		&:last-child {
		  			padding-right: 0;
		  		}
	  		}
	  	}

	  	&.form-box-header {
	  		background-color: #f9fafb;
	  		line-height: 1.8;
	  	}

	  	.header {
	  		font-size: 17px;
	  		font-weight: bold;
	  		margin-bottom: 20px;
			
			.form-box-checkbox {
				float: right;
			}
	  	}
  		
  		a {

  			&.link {
	  			font-size: 14px;
	  			font-weight: normal;
	  			color: $color-primary;
  				text-decoration: underline;
  				&.disabled{
  					opacity: .5;
  					cursor: not-allowed;
  				}
  				&:hover {
  					opacity: 0.7;
  				}

  				&.btn {
  					color: inherit;
  					text-decoration: inherit;
  					font-weight: inherit;
  					font-size: inherit;
  				}
  			}
  		}

	  	.sub-title {
	  		color: #808080;

	  		&.danger {
	  			color: #fc4152;
	  		}

	  		&.small-sub-title {
	  			font-size: 11px;
	  		}
	  	}

	  	.title-hard {
	  		font-weight: bold;
	  	}

	  	.images-container {
	  		width: 100%;
	  		height: auto;
	  		position: relative;
	  		margin: 0;

	  		.empty-bg {
		  		background: #eee;
	  			position: relative;
	  			display: -webkit-box;
	  			display: -ms-flexbox;
	  			display: flex;
				width: 100%;
				height: 180px;
				text-align: center;

	  			i {
	  				font-size: 80px;
	  				opacity: 0.2;
	  				width: 100%;
	  				-webkit-box-align: center;
	  				    -ms-flex-align: center;
	  				        align-items: center;
	  				-ms-flex-line-pack: center;
	  				    align-content: center;
	  				-ms-flex-item-align: center;
	  				    -ms-grid-row-align: center;
	  				    align-self: center;
	  			}
	  		}

	  		.col {
	  			padding: 5px;
	  		}
	  	}

		.form-group {

			&.form-select {
				.select2-container {
					width: auto !important;
				}
				.select2-selection {
					border: none;
					background: none;

					.select2-selection__rendered {
						display: block;
					    width: 100%;
					    min-height: 34px;
				        padding: 6px 12px;
					    font-size: 14px;
					    line-height: 1.428571429;
					    color: #555555;
					    background-color: #fff;
					    background-image: none;
					    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
					    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
						border-radius: 2px;
						border: 1px solid #dddddd;
						margin: 0;
						padding-top: 0;
					}

					.select2-search__field {
						max-width: 200px;
						margin-top: 6px;
					}

					.select2-selection__choice {
						margin-top: 6px;
						span {
							margin-right: 5px;
						}
					}
				}

				.select2-container--focus {

					.select2-selection__rendered {
						outline: 0;
					    border-color: $color-primary;
					    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(154, 154, 154, 0.6);
					}
				}
			}

			.form-box-checkbox{
				display: inline-block;
			    position: relative;
			    width: 18px;
			    height: 18px;
			    margin-right: 5px;

			    input{
				    outline: none;
				    -webkit-box-shadow:none !important;
				            box-shadow:none !important;
				    width: 18px;
				    height: 18px;
			    }
			}

			.toggle {
				.toggle-group {
					.fa {
						display: none;
					}
				}
			}

			.form-control-stylized {
				position: relative;

				&.focus-in {
					> span {
						opacity: 1;
					}
				}

				> span {
					position: absolute;
					line-height: 34px;
					top: 0;
					left: 10px;
					opacity: 0.5;
				}

				.form-control {
					padding-left: 23px;
				}

				&.style-right{
					> span {
						right:10px;
						left:auto;
					}

					.form-control {
						padding-right: 23px;
						padding-left: 6px;
					}
				}
			}

			.form-control-connected {
				position: relative;

				.form-control {
					padding-right: 62px;
				}
				.select-wrapper {
					position: absolute;
					height: 32px;
					width: 50px;
					top: 1px;
					right: 1px;
				    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9fafb));
				    background: linear-gradient(to bottom, #fff, #f9fafb);
				    border-left: 1px solid #dddddd;

				    select {
				    	padding-left: 8px;
				    	padding-right: 20px;
				    	background: transparent;
				    	border: none;
				    	height: 100%;
				    	width: 100%;
				    	outline: $color-primary;
				    	-webkit-appearance: none;
				    	-moz-appearance: none;
				    	-ms-appearance: none;
				    	appearance: none;
				    	border: 1px solid transparent;
			    	    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
			    	    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
			    	    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			    	    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;

				    	&:active {
				    		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				    		        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				    		border: 1px solid $color-primary;
				    	}
				    }

				    span {
				    	position: absolute;
				    	top: 3px;
				    	right: 7px;

				    	i {
				    		opacity: 0.7;
				    	}
				    }
				}

				.btn {
					position: absolute;
					height: 34px;
					top: 0px;
					right: 0px;
					border-left: 1px solid #dddddd;

					i {
						opacity: 0.7;
					}
				}
			}

			.popover {
				border-radius: 8px;
				max-width: 100%;
				width: 100%;
				left: 0 !important;
				border-color: #ddd;
				display: none;

				&.animated {
					/* display: block;*/
				}

				.popover-content {
					padding: 6px 0;
					max-height: 300px;
					overflow: auto;
					font-family: 'Lato';

					ul {
						margin: 0;
					}

					li {
						padding: 5px 15px;
						cursor: pointer;

						a {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-ms-flex-item-align: center;
							    align-self: center;
							-ms-flex-line-pack: center;
							    align-content: center;
							-webkit-box-align: center;
							    -ms-flex-align: center;
							        align-items: center;
						}

						i {
							color: $color-primary;
							-ms-flex-item-align: center;
							    -ms-grid-row-align: center;
							    align-self: center;
							-ms-flex-line-pack: center;
							    align-content: center;
							-webkit-box-align: center;
							    -ms-flex-align: center;
							        align-items: center;
						}

						.label {
							color: #333;
							font-weight: 600;
							padding: 0 15px;
							font-size: 14px;

						}

						.value {
							word-wrap: break-word;
							overflow: auto;
							word-wrap: break-word;
						}

						img {
							border: 1px solid #2ac3f2;
    						border-radius: 3px;
						    background: #2ac3f2;
						    margin-right: 10px;
						}

						span {
							-ms-flex-item-align: center;
							    -ms-grid-row-align: center;
							    align-self: center;
							-ms-flex-line-pack: center;
							    align-content: center;
							-webkit-box-align: center;
							    -ms-flex-align: center;
							        align-items: center;
						}

						&:hover {
							background: $color-primary;

							i, span {
								color: $color-primary-compliment;
							}
						}
					}

					.loader-content {
						text-align: center;
						padding: 8px 15px;

						&:hover {
							background: #FFF;

							span {
								color: inherit;
							}
						}

						.fa {
							color: $color-primary;
						}

						span {
							font-size: 13px;
							padding-left: 10px;
						}
					}
				}

			}

			.tag-list {
				margin: 10px 0 0 0;

				li {
					margin-right: 3px;
					margin-bottom: 5px;
					background:$color-secondary;
					display: -webkit-inline-box;
					display: -ms-inline-flexbox;
					display: inline-flex;
					width: auto;
					padding: 4px 8px;
					color: $color-primary-compliment;
					border-radius: 3px;

					span {
						-ms-flex-item-align: center;
						    -ms-grid-row-align: center;
						    align-self: center;
						-ms-flex-line-pack: center;
						    align-content: center;
						-webkit-box-align: center;
						    -ms-flex-align: center;
						        align-items: center;
						font-size: 13px;
						padding-right: 8px;
					}

					.fa {
						-ms-flex-item-align: center;
						    -ms-grid-row-align: center;
						    align-self: center;
						-ms-flex-line-pack: center;
						    align-content: center;
						-webkit-box-align: center;
						    -ms-flex-align: center;
						        align-items: center;
						cursor: pointer;
						font-size: 12px;

						&:hover {
							opacity: 0.5;
						}
					}
				}
			}

			.selected-products{
				padding:10px 0;

				.product-tag{
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align:center;
					    -ms-flex-align:center;
					        align-items:center;
					padding:5px 15px;
					border-bottom:1px solid #f5f5f5;

					.image {
						width: 50px;
						min-width: 50px;
						height: 50px;
						background-color: #fafbfc;
						// background-image: url('../img/admin/default.png');
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						border: 1px solid rgba(195,207,216,0.3);
						margin-right: 10px;
					}

					.title{
						width:100%;
					}

					button{
						background:transparent;
						border: none;
						opacity: .5;
						-webkit-transition:.2s;
						transition:.2s;

						&:hover{
							opacity: 1;
						}
					}
				}
			}
		}

		&.form-box-pull-up{
			margin-top:0;
			border-top: none;
		}

		&.summary-details{
			ul{
				padding:0 15px;

				li{
					list-style: disc;
					padding:5px 0;
				}
			}
		}
  	}

  	.page-actions {
  		margin: 20px 0;
  		border-top: 1px solid #dddddd;
  		padding: 20px 0;
  		text-align: right;

  		.btn {
  			margin-right: 10px;

  			&:last-child {
  				margin-right: 0;
  			}
  		}
  	}

  	.form-control {
  		border-radius: 2px;
  		border: 1px solid #dddddd;
  	}
  	.edit-slug {
	  	@extend .btn-inherent;
	}
	.dropdownDatepickerGroup {
		select {
	  		width:auto;
		    display: inline-block;
	  	}
	}
	.sumo-asset-select {
		label {
			a {
				@extend .btn-inherent;
			}
		}
		img {
			max-width: 100%;
			max-height: 400px;
			display: block;
		}
		.sumo-asset-img-container {
			width: 250px;
			height: 250px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-ms-flex-line-pack: center;
			    align-content: center;
			-ms-flex-item-align: center;
			    align-self: center;
		    background: #fafbfc;
		    border: 1px solid rgba(195,207,216,0.3);
			position: relative;

			&:hover {
				.sumo-asset-img-hover-overlay {
					opacity: 1;
				}
			}

			img {
				max-height: 100%;
				max-width: 100%;
				margin: auto;
			}

			.sumo-asset-img-hover-overlay {
				position: absolute;
				z-index: 3;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(58, 54, 51, 0.6);
				opacity: 0;
				-webkit-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;

				ul {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: end;
					    -ms-flex-align: end;
					        align-items: flex-end;
					-webkit-box-pack: center;
					    -ms-flex-pack: center;
					        justify-content: center;
					height: 100%;
					margin: 0;

					a {
						padding: 8px 6px;
						display: block;
						line-height: 0;
						text-align: center;
						color: #FFF;
						outline: none !important;

						&:hover {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
	&.form-crop {
		/* #crop-target {*/
		/* 	width: 100%;*/
		/* }*/
		img {
			display: block;
		}
	}
	&.form-clear {
		border: none;
		padding: 0;
		background: none;
	}
	&.form-delete {
		padding: 0;
		border: none;
		background: transparent;

		label {
			cursor: pointer;
			margin-bottom: 0;
		}

		input[type="checkbox"] {
			display: none;

			&:checked {

				~.input-unchecked {
					display: none;
				}
				~.input-checked {
					display: inline-block;
				}
			}
		}
		.input-unchecked {
			display: inline-block;
		}
		.input-checked {
			display: none;
		}
	}
}
.form-control-outline {
	outline: 0;
	border-color: $color-primary;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(154, 154, 154, 0.6);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(154, 154, 154, 0.6);
}

.form-control {

	&:focus {
		@extend .form-control-outline;
	}

	&.parsley-error {
		border-color: #fc4152;
	}
	
	&.form-control-parent {
		padding: 0;

		input {
			width: 60px;
			border: none;
			background: none;
			box-shadow: none;
		}
	}
}

.parsley-errors-list {
	li {
		font-size: 10px;
		color: #fc4152;
	}
}

.popover{
    max-width: 80%;
    border-radius: 2px;
    padding: 0;
    .popover-title {
    	background-color: $color-secondary;
    	color: $color-secondary-compliment;
    	font-weight: 700;
    	font-size: 16px;
    	border-radius: 2px 2px 0 0;
    }
    table {
    	margin-bottom: 10px !important;
    	img {
    		max-width: 100%;
    	}
    }
}

[data-notify="container"] {
	border-radius: 0;
	bottom: 0 !important;
	right: 0 !important;
	color: #fff;
	background-color: $color-primary;
	border: none;
	z-index: 99999 !important;
}

.select2-container--default  {
	display: block;
    width: 100% !important;
	.select2-selection--single {
		height: 34px;
		border: 1px solid #dddddd;
		border-radius: 2px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		&:focus {
			@extend .form-control-outline;
		}
		.select2-selection__rendered {
			line-height: 21px;
			padding: 6px 12px;
		}
		.select2-selection__arrow {
			height: 38px!important;
		}
	}
	.select2-search--dropdown .select2-search__field {
		&:focus {
			@extend .form-control-outline;
		}
	}
}

aside {
	position: fixed;
	left: 0;
	top: 52px;
	bottom: 0;
	width: 220px;
	height: auto;
	background: #3a3633;
	background: -webkit-gradient(linear,left top, right top,color-stop(93%, #3a3633),to(#2a2725));
	background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 9;
	
	.scroll-wrapper {
		height: 100%;

		.scroll-content {

			>ul {
				padding-top: 40px;
				margin-bottom: 0;

				li {
					position: relative;
					a,span {
						display: block;
						font-size: 14px;
						color: #c0bbb7;
						padding: 10px 18px;
						cursor:pointer;
						&:hover, &:focus {
							color: #fff;
						}
						i {
							&.fa {
								margin-right: 10px;
								font-size: 18px;
								width: 20px;
								text-align: center;
							}
						}
						.collapse-icon {
							position: absolute;
							right: 4px;
							top: 13px;
							.n {
								display: none;
							}
							.p {
								display: block;
							}
						}
					}
					&.active {
						a {
							color: #fff;
							&:before {
								content: "";
								border-style: solid;
								border-width: 5px 6px 5px 0;
								border-color: transparent #F1F1F1 transparent transparent;
								position: absolute;
								right: 0;
								top: 14px;
								z-index: 9;
							}
						}
					}
					a {
						&.active {
							color: #fff;
							&:before {
								content: "";
								border-style: solid;
								border-width: 5px 6px 5px 0;
								border-color: transparent #F1F1F1 transparent transparent;
								position: absolute;
								right: 0;
								top: 14px;
								z-index: 9;
							}
						}
					}
					ul {
						position: relative;
						>li {
							position: relative;
							a, span {
								padding-top: 7px;
								padding-bottom: 7px;
								padding-left: 42px;
							}
							&:before {

							}
						}
						&:before {

						}

						&.no-icon {
							li {
								a {
									padding-left: 48px;
								}
							}
						}
					}
					&.open {
						.collapse-icon {
							.n {
								display: block;
							}
							.p {
								display: none;
							}
						}

					}
				}
			}
		}
	}
}

.dataTables_wrapper {
	>.row {
		margin-left: 0;
		margin-right: 0;
	}
	.row:first-child {
		padding: 6px 0;
		border: 1px solid rgb(221,221,221);
		border-bottom: none;
	}
	.dataTables_length {
		select {
			border-radius: 2px;
		}
	}
	.dataTables_filter {
		input {
			border-radius: 2px;
		}
	}
	table.dataTable {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.row:nth-child(2) {
		>div {
			padding: 0;
		}
	}
	.row:last-child {
		padding: 4px 6px 0 6px;
		border: 1px solid rgb(221,221,221);
		border-top: none;
	}
	.dataTables_info {
		font-style: italic;
		font-size: 12px;
		color: $color-primary;
	}
	.dataTables_paginate {
		.pagination {
			font-size: 12px;
			.active {
				a {
					background-color: $color-primary;
					border-color: $color-primary;
				}
			}
		}

	}
}
#shippingModal{
	.modal-dialog{
		transition: all 0.3s ease-out;
	}
}
.modal-content {
	border-radius: 2px;

	form {
		padding: 0px;
	}
}

#assets-modal {
	.modal-dialog {
		width: auto;
		margin: 50px 20px;
	}
	.modal-header {
		border-bottom: none;
	}
	.modal-body {
		padding: 0;
		.nav-tabs {
			>li {
				>a {
					border-radius: 2px;
				}
			}
		}
		.tab-content {
			>.tab-pane {
				padding: 8px 15px;
				padding-right: 0;
			}
		}
		#file-upload {
			.dropzone {
				height: 300px;
				background-color: #eee;
				border-radius: 2px;
				cursor: pointer;
				font-weight: 700;
				font-size: 20px;
				color: $color-primary;
			}
		}
		#file-library {
			.files {
				max-height: 500px;
				overflow: auto;
				.file {
					position: relative;
					cursor: pointer;
					display: inline-block;
					width: 120px;
					height: 120px;
					border: 3px solid transparent;
					margin-right: 4px;
    				margin-bottom: 25px;
					background-color: #eee;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					&.active {
						border-color: $color-primary;
					}
					.progress {
						overflow: initial;
						height: 4px;
						background-color: $color-primary-compliment;
						border-radius: 0px;
						margin: 0;
					}
					.name {
					    position: absolute;
					    bottom: -28px;
    					height: 25px;
					    text-overflow: ellipsis;
					    max-width: 120px;
					    overflow-x: hidden;
					    overflow-y: hidden;
					    white-space: nowrap;
					    left: -3px;
					    padding: 5px;
    					font-size: 12px;
					    -webkit-transition: all .25s ease;
					            transition: all .25s ease;

					    &:hover {
    						max-width: 200%;
    						background-color: #fff;
					    	z-index: 10000;
    						-webkit-box-shadow: #333 0px 2px 5px 0px;
    						        box-shadow: #333 0px 2px 5px 0px;
					    }
					}
				}
			}
		}
		.loader {
			height: 240px;
			position: relative;
		}
		.asset-details {
			.header {
				margin-bottom: 10px;
				font-weight: 700;
				font-size: 16px;
			}
			.photo {
				margin-bottom: 20px;
				img {
					max-width: 100%;
					margin-bottom: 4px;
				}
				.delete {
					a {
						color: $color-primary;
						text-decoration: underline;
					}
				}
			}
			form {
				border: none;
				padding: 0;
				margin-bottom: 20px;
			}
		}
	}
}

.browse-modal,.country-modal {
	.modal-filters{
		padding:15px;
		border-bottom: 1px solid #e5e5e5;

		.form-control-stylized{
			position: relative;

			> span{
				position: absolute;
			    line-height: 34px;
			    top: 0;
			    left: 10px;
			    opacity: 0.5;
			}

			.form-control{
				padding-left: 28px;
			}
		}
    }
    .modal-body {
        max-height: 500px;
        overflow: auto;
    }
	.table{
		tr{
			td {
				border:none;
				border-bottom: 1px solid #e1e1e1;
				vertical-align: middle;

				img{
					padding:10px;
				}
			}
		}
	}
	.browse-list, .browse-item-list {
		.image {
			width: 30px;
			height: 30px;
			background-color: #fafbfc;
			// background-image: url('../img/admin/default.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			border: 1px solid rgba(195,207,216,0.3);
    		border-radius: 3px;
			margin: auto;
		}

		tr {
            cursor: pointer;
            
            &.disabled, .selected {
                cursor: initial;
                background-color: #f5f5f5;
            }

			&.entry-list:hover {
                background-color: #f5f5f5;
            }

			td {
                padding: 8px 5px;

                &.select-box-item {
                    color: #c4cdd5;
                    font-size: 20px;
                    -webkit-transition: .2s;
                    transition: .2s;
                    
                    [type="radio"] {
                        width: 15px;
                        height: 15px;
                    }
                }

                .option1 {
					color: $variant-option-1;
				}
				.option2 {
					color: $variant-option-2;
				}
				.option3 {
					color: $variant-option-3;
				}
            }

            &.selected {
                td {

                    &.select-box-item {
                        color: $color-primary;
                    }
                }
            }
        }

        &.no-results {
            margin: 20px 0;

            tr {
                td {
                    border: none;
                }
            }
        }
	}

}

.browse-tags {
	.image {
		width: 30px;
		height: 30px;
		background-color: #fafbfc;
		// background-image: url('../img/admin/default.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		border: 1px solid rgba(195,207,216,0.3);
	}

	.browse-tag {
		display: table;
		width: 100%;

		> * {
			display: table-cell;
			vertical-align: middle;
		}

		.title {
			padding-left: 20px;
			padding-right: 15px;
		}

		.text-right {
			text-align: right;
		}

		.remove-btn {
			background: none;
			border: none;

			&:hover {
				color: $color-primary;
			}
		}
	}
}

main {
	color: #333;
	min-height: 100%;
	padding-top: 92px;
	margin-left: 220px;

	.content-container {
		// max-width: 1032px;
		margin: auto;
	}

	.breadcrumb {
		position: fixed;
		z-index: 1000;
		top: 52px;
		left: 220px;
		right: 0;
		padding: 10px 16px;
		background-color: #3A3633;
		border: none;
		border-radius: 0;
		color: #c0bbb7;
		margin-bottom: 0;
		>.active {
			color: #fff;
		}

		.button-list {
			position: relative;
			&:before {
				display: none;
			}

			.button-group {
				position: absolute;
				top: -10px;
				right: 0;
				padding: 4px 0;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;

				.btn {
					padding: 5px 12px;
					display: inline-block;
					margin-right: 10px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	#content {
		padding: 12px 0;

		.page-header {
			margin: 10px 0;
			margin-bottom: 0;
			border-bottom: none;
			h1 {
				margin-top: 0;
				font-size: 24px;
			}
			.header-icon-text {
				font-size: 14px;

				i {
					padding-right: 5px;
				}

				ul {
					margin: 0;

					li {
						display: inline-block;
						padding-right: 15px;
					}
				}

				a {
					&:hover {
						color: $color-primary;
					}
				}
			}
		}

		.header-actions {
			margin-bottom: 10px;

			.header-action-item {
				display: inline-block;

				.header-action-icon-text {
					font-size: 14px;

					i {
						padding-right: 5px;
					}

					ul {
						margin: 0;

						li {
							display: inline-block;
							padding-right: 15px;
						}
					}

					a {
						&:hover {
							color: $color-primary;
						}
					}
				}

				.dropdown-toggle {
					&:hover {
						color: $color-primary;
					}
				}
			}
		}

		.widget {
			.header {
				background-color: $color-primary;
				color: #fff;
				padding: 10px 8px;
				text-transform: uppercase;
			}
			.filters {
				text-align: right;
				padding: 6px;
				padding-bottom: 2px;
				border: 1px solid #dddddd;
				border-bottom: none;
				background: #fff;
				form {
					padding: 0;
					border: none;
					background-color: transparent;
					label {
						font-weight: 400;
						position: relative;
						input {
							margin-left: 0.5em;
							display: inline-block;
							width: auto;
							padding-right: 25px;
						}
						button {
							position: absolute;
							top: 0;
							right: 0;
							color: #C0BB9D;
							background: transparent;
							border: none;
							height: 30px;
						}
					}
					select.searchby {
						display:inline-block;
						max-width: 100px;
					}
				}
			}
			.table-responsive {
				overflow-x: visible;

				.table-header {

				}

				.table-body {
					height: auto;
					border-top: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					margin-top: -2px;

					.scroll-wrapper {
						max-height: 500px;

						table {
							border-bottom: none;
							border-top: none;

							tr {
								&.selected {
									background: $color-secondary;
									color: $color-secondary-compliment;
								}
							}

							td {
								&:first-child {

								}

								&:last-child {
									cursor: pointer;
								}

								&.empty {
									text-align: center;
								}
							}
						}
					}
				}
			}
			.table {
				background: #fff;
				margin-bottom: 0;
				img {
					max-width: 120px;
				}

				.image {
					width: 30px;
					height: 30px;
					background-color: #fafbfc;
					// background-image: url('../img/admin/default.png');
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					border: 1px solid rgba(195,207,216,0.3);
				}

				.sortable-icon {
					color:#ccc;
					cursor:move;
				}
				i.fa-star, i.fa-star-o {
					font-size:16px;
				}
				td {
					vertical-align: middle;

					i.fa-star, i.fa-star-o{
						color:#f0ad4e;
						cursor: pointer;

						&:hover {
							text-shadow: 1px 1px #ccc;
						}
					}
				}

				.sortable {
					.fa {
						float: right;
						line-height: 20px;
					}
				}
			}
			.pagination-links {
				background: #fff;
				padding: 6px;
				padding-bottom: 2px;
				border: 1px solid #dddddd;
				font-size: 12px;
				.pagination {
					margin: 0;
					>.active {
						span {
							background-color: $color-primary;
							border-color: $color-primary;
						}
					}
				}
			}
			.empty {
				background: #fff;
				padding: 90px 10px;
				border: 1px solid #dddddd;
				font-size: 16px;
			}
		}
		.table-view {
			th {
				width: 120px;
			}
			img {
				max-width: 100%;
			}
		}
	}
}

.permission-list{
	padding-left: 15px;
	li{
		padding:5px 0px;

		input[type="checkbox"]{
			margin-right: 10px;
		}
	}
}

.form{
	&.row{
		margin:0;
	}
}


/** for asset tags **/
.sumo-tag {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	&.active {
		background: $color-primary;
		color: $color-primary-compliment;
	}
}


/** for asset search, sort and filter **/
.search-container {
	margin-bottom: 10px;

		.form-control {
			display: inline-block;
			max-width: 200px;
		}
}

.sort-container {
	display: inline-block;
    padding-right: 20px;

		.form-control {
			display: inline-block;
			width: auto;
		}
}

.filter-container {
	display: inline-block;

		.form-control {
			display: inline-block;
			width: auto;
		}

		.date-range {
		    display: inline-block;

		    button {
			    padding: 4px 8px;
			    margin-left: 5px;
			}
		}

		.dropdownDatepickerGroup {
    		display: inline-block;
		}
}

/** for asset multi select **/
.sumo-asset-select-multi {

	> label {
		width: 100%;

		.multi-name {
			max-width: 200px;
			display: inline-block;
			border: none;
			-webkit-box-shadow: none;
			        box-shadow: none;

		}

		a {
			margin-left: 8px;
			font-weight: 400;
			text-decoration: underline;
			color: #2ac3f2;

		}
	}

	.images-container {

		> div.sumo-multi-asset {
			width: 120px;
			height: 120px;
			margin-left: 5px;
			margin-bottom: 5px;
    		border: 1px solid rgba(195, 207, 216, 0.3);
			float: left;
    		background-color: #eee;
    		background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			position: relative;

			div.sumo-asset-img-hover-overlay {
			    position: absolute;
			    z-index: 3;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    background: rgba(58, 54, 51, 0.6);
			    opacity: 0;
			    -webkit-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;

			    ul {
				    display: -ms-flexbox;
				    display: -webkit-box;
				    display: flex;
				    -ms-flex-align: end;
				    -webkit-box-align: end;
				            align-items: flex-end;
				    -ms-flex-pack: center;
				    -webkit-box-pack: center;
				            justify-content: center;
				    height: 100%;
				    margin: 0;

				    a {
					    padding: 8px 6px;
					    display: block;
					    line-height: 0;
					    text-align: center;
					    color: #fff;
					    outline: none !important;
				    }
			    }
			}

			&:hover div.sumo-asset-img-hover-overlay {
				opacity: 1;
			}

			img {
				max-width: 100%;
				max-height: 100%;

			}
		}

		.sumo-asset-img-container {
			width: 100%;
			height: 100%;
		}
	}
}

.sumo-add-form {

	.sumo-add-multi {
		margin-left: 8px;
		font-weight: 400;
		text-decoration: underline;
		color: #2ac3f2;

	}
}

.conditional-collapse{
	max-height: 0;
	overflow: hidden;
	-webkit-transition:.5s;
	transition:.5s;

	&.in{
		-webkit-transition:1s;
		transition:1s;
		max-height: 500px;
		overflow: visible;
	}
}

label[for='inventory_notif']{
	margin-left:5px;
}

.custom-radio{

	&.no-title .btn-holder .custom-radio-btn {
		margin: 0;
		
		.radio-dot {
			margin: 0;
		}

		input {
			margin: 0;
			width: 0;
		}
	}

	.btn-holder
	{
		display: inline-block;

		.custom-radio-btn{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align:center;
			    -ms-flex-align:center;
			        align-items:center;
			margin-bottom:10px;
			cursor:pointer;
			&.disabled{
				opacity: .6;
				cursor: not-allowed;
			}
			input{
				opacity: 0;
			}

			.radio-dot{
				padding:2px;
				border-radius:100%;
				border:1px solid #2ac3f2;
				position: relative;
				margin-right:5px;

				>div{
					height:8px;
					width:8px;
					border-radius:100%;
					background-color: #2ac3f2;
					-webkit-transition:.3s;
					transition:.3s;
					-webkit-transform:scale(0,0);
					        transform:scale(0,0);
				}
			}

			&.selected{

				.radio-dot{
					>div{
						-webkit-transform:scale(1,1);
						        transform:scale(1,1);
					}
				}
			}
		}
	}
}

#importModal {

	a {
		color: #2ac3f2;
	}

	.is-overwrite {
		width: 16px;
		height: 16px;
		display: inline-block;
	}
}

form.update-import {
	padding: 0px;
	border: none;
	background: transparent;
}

.category-tree-table {
	margin:0;
	border-left: 1px solid #e1e1e1;
	// border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;

	.category-details {
		/* padding:10px;*/
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		padding:0px;
		border-top: 1px solid #e1e1e1;
		background: #fff;

		>.delete-box {
			// border-left:1px solid #e1e1e1;
			border-right:1px solid #e1e1e1;
			position: relative;
			padding: 0 10px;
            cursor: pointer;
            line-height: 41px;

			.form-box-checkbox {
				width: 16px;
                cursor: pointer;
                margin-right: 0;

				input {
					cursor: pointer;
					box-shadow: none;
					border: none;
					display: block;
					outline: none;
				}
			}
		}

		>.category-title {
			width:100%;

			&.selected {
				>.flex-container {
					color: #fff;
					background-color: $color-primary;
				}
			}

			>.flex-container {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align:center;
				    -ms-flex-align:center;
				        align-items:center;
				/* padding:10px;*/
				-webkit-transition:.2s;
				transition:.2s;
                border-right:1px solid #e1e1e1;
				cursor:pointer;
				flex-wrap: nowrap;
				        >.title {
				        	width:100%;
				        	padding:10px;
				        	display: -webkit-box;
				        	display: -ms-flexbox;
				        	display: flex;
				        	-webkit-box-align:center;
				        	    -ms-flex-align:center;
				        	        align-items:center;

				        	>div{
				        		width:100%;

				        		&.drop-down{
				        			width:auto;
				        			display: inline-block;
				        			-webkit-transition:.3s;
				        			transition:.3s;
				        		}
				        	}
				        }

				        >.child-indicator {
				        	font-size:.8em;
				        	margin:-5px 5px 0 10px;
				        }

				        >.action {
				        	/* margin:0 10px;*/
				        	display: inherit;

				        	.btn {
				        		margin:0 10px;
				        	}
				        }

				&:hover {
					color: #fff;
					background-color: $color-primary;
				}
			}

			>.child-collapse {
				-webkit-transition:.5s;
				transition:.5s;
				max-height: 0;
				overflow: hidden;

				>.category-details {
					border-top:1px solid transparent;
				}

				&.in {
					-webkit-transition:2s;
					transition:2s;
					max-height:1000px;
					overflow: visible;
					>.category-details{
						border-top: 1px solid #e1e1e1;
					}
				}
			}

			&.in {
				>.flex-container {
					>.title {
						>.drop-down {
		        			-webkit-transform: rotate(180deg);
		        			        transform: rotate(180deg);
		        		}
	        		}
        		}
			}
		}

		label {
			padding:10px;
		}
	}
}

.browse-selected-products-table {
	width: 100%;
	margin-bottom: 15px;

	.selected-order-item {

		.image {
			width: 30px;
			height: 30px;
			background-color: #fafbfc;
			// background-image: url('../img/admin/default.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			border: 1px solid rgba(195,207,216,0.3);
		}

		td {
			padding: 10px 5px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			&.image-col {
				width: 45px;
			}

			&.quantity-col {
				width: 110px;
				padding: 0 15px;

				input {
					width: 100%;
				}
			}

			&.remove-col {
				color: #808080;

				&:hover {
					color: #333333;
				}
			}

			.title {
				color: $color-primary;
	  			a:hover {
	  				color: #6bdcff;
	  			}
			}

			.sub {
				color: #808080;
				font-size: 12px;
				text-transform: uppercase;
			}

			.sub-price {
				color: #9C9C9C;
				font-size: 12px;
				text-decoration: line-through;
			}

			.title-price {
				color: $color-primary;
			}
		}
	}
}

.browse-selected-products-price-details {
	table {
		width: 100%;
		.col {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 0;
		}
	}
}

.modal {

	.row {
		margin: 5px 0px;
	}

	.form-box-checkbox {
	    display: inline-block;
	    width: 18px;
	    height: 18px;

		input[type="checkbox"] {
		    position: relative;
		    width: 18px;
		    height: 18px;
		    margin-right: 5px;
		}
	}
}

.info-box {

	.row {
    	margin-bottom: 10px;

		p {
			word-wrap: break-word;
			
			&.primary{
				color: $color-primary;
			}

			&.sub{
				color: #808080;
			}

			&.compress{
				margin: 0px;
			}

			a {
			    font-size: 14px;
			    color: $color-primary;
			    font-weight: normal;
			    text-decoration: underline;
			}
		}
	}
}

.control-with-symbol {
	padding: 0;
	display: flex;

	> div {
		height: 100%;
		line-height: 32px;
		padding: 0 10px;
		background: #FFF;
		width: 32px;
	}

	input {
		border: none;
		outline: none;
		width: 100%;
	}
}

.discount-modal {
	.input-buttons {
		padding: 0;
		display: flex;
		width: 197px;

		> * {
			height: 100%;
			line-height: 32px;
		}

		.type-selector {
			text-align: center;
			width: 32px;
			padding: 0 5px;
			border: none;
			border-right: 1px solid #ddd;
			cursor: pointer;
			border-radius: 0;
			color: $color-primary;
		}

		.control-with-symbol {

			input {
				width: 100px;
				padding-left: 10px;
			}

			&.amount {
				input {
					padding-left: 0;

				}
				.amount-symbol {
					display: block;
				}
				.percent-symbol {
					display: none;
				}
			}

			&.percent {
				input {
					text-align: right;
				}
				.amount-symbol {
					display: none;
				}
				.percent-symbol {
					display: block;
				}
			}
		}
	}

	.coupon-display {
	    width: 100%;
	    background: #f7f7f7;
	    margin-top: 15px;
	    text-align: center;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-align-items: center;
	    align-items: center;
    	font-size: 14px;
    	font-weight: bold;
    	position: relative;

    	.coupon-display-price {
    		padding: 6px;
    	}

    	.coupon-display-check {
		    position: absolute;
		    right: 5px;
    	}
	}
}
.form-featured{
	display: flex;
	.form-group{
		.toggle{
			min-width: 120px;
			min-height: 34px;
		}
		&:first-child{
			flex: 1;
		}
	}
}
.vendor-data-list{
	td{
		.image{
			width: 50px;
			height: 50px;
			background-color: $color-primary;
			// background-image: url('../img/admin/default.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			border: 1px solid rgba(195,207,216,0.3);
			border-radius: 3px;
		}
	}
}

.variants-add-box {
	tbody {
		tr {
			.select2-container--default {
				.select2-selection--multiple {
					.select2-selection__choice {
						color: #FFF;
						border: none;

						span {
							color: #FFF;

							&:hover {
								color: #333;
							}
						}
					}
				}
			}

			&:first-child {
				.select2-container--default {
					.select2-selection--multiple {
						.select2-selection__choice {
							background-color: $variant-option-1;
						}
					}
				}
			}
			&:nth-child(2) {
				.select2-container--default {
					.select2-selection--multiple {
						.select2-selection__choice {
							background-color: $variant-option-2;
						}
					}
				}
			}
			&:nth-child(3) {
				.select2-container--default {
					.select2-selection--multiple {
						.select2-selection__choice {
							background-color: $variant-option-3;
						}
					}
				}
			}
		}
	}

	.variant-combinations {
		width: 100%;

		thead {
			th {
				min-width: 100px;

				&:first-child {
					max-width: 37px;
				}
			}
		}
		th, td {
			border-bottom: 1px solid #ebeef0;
		    padding: 8px 10px;
		    text-align: left;
		}

		tbody {
			tr {
				&:last-child {
					td {
						border-bottom: none;
					}
				}
				td {
				    vertical-align: top;

					&:first-child {
						padding-right: 0;
						text-align: center;

						input[type="checkbox"] {
							height: 17px;
							width: 17px;
							cursor: pointer;
						}
					}

					&:first-child, &:nth-child(2) {
						vertical-align: middle;
					}

					ul {
						margin-bottom: 0;
					}
				}
			}
		}

		.variant-values {
			word-break: break-all;

			span {
				&.option-1 {
					color: $variant-option-1;
				}
				&.option-2 {
					color: $variant-option-2;
				}
				&.option-3 {
					color: $variant-option-3;
				}
			}
		}
	}
}

.select2-container--default {
	width: auto !important;
}
#previewEmailInvoice{
	.email-preview-header{
		display: flex;
		flex-direction: column;
		.email-info{
			display: flex;
			padding: 10px 0;
			border-bottom: solid 1px rgba(229, 229, 229, 0.5);
			&:last-child{
				border-bottom: 0;
			}
			.email-label{
				min-width: 80px;
			}
		}
	}
	.email-container{
		width: 100%;
		border: solid 1px rgba(229, 229, 229, 1);
		overflow-y: scroll;
		height: 300px;
		.email{
			display: flex;
			flex-direction: column;
			.info{
				padding: 10px;
				.shop-name{
					font-size: 24px;
				}
				.subject{
					font-size: 16px;
					color: #808080
				}
				.call-to-action-container{
					display: flex;
					flex-direction: column;
					.text{
						font-size: 20px;
					}
					.message{
						font-size: 14px;
						padding-left: 10px;
					}
					.button-container{
						display: flex;
						flex-direction: column;
						padding: 10px;
						> a{
							color: white;
							&:hover{
								color: black;
							}
						}
						> a,> div{
							padding: 10px 20px;
							text-align: center;
							display: flex;
							align-items: center;
							border-radius: 4px;
							span{
								display: block;
								width: 100%;
							}
							&:first-child{
								background-color: $color-primary;
							}

						}
					}

				}
			}
			.order-summary{
				border-top: 1px solid rgba(229, 229, 229, 0.5);
				border-bottom: 1px solid rgba(229, 229, 229, 0.5);
				padding: 15px 0;
				.header{
					font-size: 16px;
					font-weight: bold;
					padding: 0 10px;
				}
				.order-list{
					display: flex;
					flex-direction: column;
					padding: 10px;
					.order-item{
						display: flex;
						align-items: center;
						border-bottom:  1px solid rgba(229, 229, 229, 0.5);
						padding-bottom: 10px;
						.item-image-container{
							height: 50px;
							width: 50px;
							background-size: contain;
							background-position: center;
							background-repeat: no-repeat;
							// background-image: url('../img/admin/default.png');
							border: 1px solid rgba(229, 229, 229, 0.5);
							margin-right: 10px;
						}
						.item-info-container{
							font-weight: bold;
							flex: 1;
							margin-right: 10px;
						}
					}
				}
				.price-details{
					display: flex;
					flex-direction: column;
					padding: 10px;
					.detail-container{
						display: flex;
						&.total{
							padding-top: 10px;
							border-top: solid 1px rgba(229, 229, 229, 1);
							margin-top: 10px;
							font-size: 16px;
							font-weight: bold;
						}
						.flex-item{
							flex: 1;
						}
					}
				}
			}
			.customer-information{
				border-top: 1px solid rgba(229, 229, 229, 0.5);
				border-bottom: 1px solid rgba(229, 229, 229, 0.5);
				padding: 15px 0;
				.shipping-details{
					padding: 10px;
					div{
						padding-left: 5px;
					}
					.shipping-header{
						font-weight: bold;
						padding-bottom: 10px;
						padding-left: 0;
					}
				}
				.billing-details{
					padding: 10px;
					div{
						padding-left: 5px;
					}
					.billing-header{
						font-weight: bold;
						padding-bottom: 10px;
						padding-left: 0;
					}
				}
			}
			.note-container{
				display: flex;
				flex-direction: column;
				padding: 10px;
				.note-label{
					font-weight: bold;
				}
				.note{
					padding-left: 10px;
				}
			}
		}
	}
}
.variants-container {
	#option1 {
		color: $variant-option-1;
	}

	#option2 {
		color: $variant-option-2;
	}

	#option3 {
		color: $variant-option-3;
	}

	.image {
		width: 40px;
		height: 40px;
		min-width: 40px;
		background-color: #fafbfc;
		// background-image: url('../img/admin/default.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		border: 1px solid rgba(195,207,216,0.3);
	}

	.product-info {
		display: flex;

		.info-box {
			&:first-child {
				margin-right: 15px;
			}
		}

		.image {
			width: 68px;
			height: 68px;
			min-width: 68px;
		}

		.sub {
			padding-top: 3px;
			opacity: 0.8;
			font-size: 13px;
		}

		.link {
			padding-top: 5px;
			a {
				color: $color-primary;
				text-decoration: underline;
			}
		}
	}

	.variant-list {
		li {
			> a  {
				> div {
					padding: 14px 15px;
					border-bottom: 1px solid #dddddd;

					.image {
						margin-right: 10px;
					}

				}

				&:hover {
					> div {
						background-color: $color-primary;
						color: $color-primary-compliment;
					}
				}
			}

			&.active {
				> a {
					> div {
						background-color: $color-primary;
						color: $color-primary-compliment;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.variant-selector {
	margin-bottom: 10px;

	.variant-selector-list {
		display: inline;
		margin: 0;
		margin-bottom: -5px;

		.variant-selector-item {
			display: inline-block;
			margin-right: 10px;
		}

		.variant-selector-link {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			&.default-option {
				color: #95a7b7;
			}

			&.option-1 {
				color: $variant-option-1;
			}
			&.option-2 {
				color: $variant-option-2;
			}
			&.option-3 {
				color: $variant-option-3;
			}
		}
	}
}

.product-inner-variants {
	width: 100%;

	.select {
		width: 37px;
	}

	th, td {
		border-bottom: 1px solid #ebeef0;
	    padding: 8px 10px;
	    text-align: left;

	    &:first-child {
	    	input[type="checkbox"] {
	    		height: 17px;
	    		width: 17px;
	    		cursor: pointer;
	    	}
	    }

	    .image {
	    	width: 40px;
	    	height: 40px;
	    	background-color: #FFF;
			// background-image: url('../img/admin/default.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			border: 1px solid rgba(195,207,216,0.3);
			cursor: pointer;

			&:hover {
				border: 1px solid rgba(195,207,216,0.8);
			}
	    }
	}

	tbody {
		tr {
			td {
				padding: 8px 5px;

				&:first-child {
					padding: 8px 10px;
				}

				.form-control {
					border: 1px solid transparent;
					box-shadow: none;
					padding: 6px;
					overflow: hidden;
					text-overflow: ellipsis;

					&[name="option0[]"] {
						color: $variant-option-1;
					}

					&[name="option1[]"] {
						color: $variant-option-2;
					}

					&[name="option2[]"] {
						color: $variant-option-3;
					}
				}

				&:last-child {
					vertical-align: middle;

					.form-group {
						display: flex;

						.btn {
							&:first-child {
								border-right: none;
								border-bottom-right-radius: 0;
								border-top-right-radius-right-radius: 0;
							}

							&:last-child {
								border-top-left-radius: 0;
								border-bottom-left-radius: 0;
							}
						}
					}
				}
			}
			&:hover {
				td {
					background-color: #f9fafb;

					.form-control {
						border: 1px solid #dddddd;
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
					}
				}
			}
		}
	}
}

.variants-modal {
	.modal-body {
		table {
			width: 100%;

			tr {
				td ul li {
					background-color: #ddd;
				}
				&:first-child {
					td ul li {
						background-color: $variant-option-1;
					}
				}
				&:nth-child(2) {
					td ul li {
						background-color: $variant-option-2;
					}
				}
				&:nth-child(3) {
					td ul li {
						background-color: $variant-option-3;
					}
				}
			}
			td {
				padding: 5px 10px;
				vertical-align: top;

				&:first-child {
					padding-left: 0;
					width: 170px;
				}

				ul {
					li {
						color: #FFF;
						padding: 7px 10px;
						border-radius: 3px;
						margin-bottom: 3px;
						margin-right: 3px;
						display: inline-block;

						.remove {
							padding-left: 8px;
							font-weight: bold;
							cursor: pointer;
							font-size: 14px;

							&:hover {
								color: #333;
							}
						}

						&.drag {
							cursor: pointer; /* fallback if grab cursor is unsupported */
						    cursor: grab;
						    cursor: -moz-grab;
						    cursor: -webkit-grab;

						    &:active, &:focus {
						    	cursor: grabbing;
					    	    cursor: -moz-grabbing;
					    	    cursor: -webkit-grabbing;
						    }
						}
					}
				}
			}

			.reorder-variant {
				tr {
					&:first-child {
						td:first-child span {
							color: $variant-option-1;
						}
					}
					&:nth-child(2) {
						td:first-child span {
							color: $variant-option-2;
						}
					}
					&:nth-child(3) {
						td:first-child span {
							color: $variant-option-3;
						}
					}
				}
				td {
					&:first-child {
						line-height: 34px;
						cursor: pointer;

						i {
							font-size: 13px;
							padding-right: 10px;
							cursor: pointer; /* fallback if grab cursor is unsupported */
						    cursor: grab;
						    cursor: -moz-grab;
						    cursor: -webkit-grab;

						    &:active, &:focus {
						    	cursor: grabbing;
					    	    cursor: -moz-grabbing;
					    	    cursor: -webkit-grabbing;
						    }
						}
					}
					.reorder {
						padding-right: 10px;
					}
				}
			}
		}
	}
}

.product-reviews {

	&.review-view-section {
		margin-bottom: 30px;
	}

	.product-info {
		background-color: #fff;

		.container-fluid {
			display: flex;
			padding: 10px 0px;

			> div {
				align-self: auto;
				padding: 0px 5px;

				&.rating-avg-container {

					.rating-avg {
						width: 100%;
						font-size: 50px;
						text-align: center

					}
				}

				&.rating-breakdown-container {
					width: 280px;

					ul > li {
						padding: 5px 0px;

						label {
							min-width: 80px;
							margin-bottom: 3px;
						}

						div.line {
						    width: 100%;
						    border-bottom: 1px solid #dddddd;
						}

						div.percentage {
						    border-top: 1px solid $color-primary;
						}

						span.num {
						    border: #efefef solid 1px;
						    border-radius: 3px;
						    padding: 0px 8px;
						    font-size: 12px;
						    float: right;
						}
					}
				}

				&.rating-info-text-containerd {

					p {
						display: block; /* Fallback for non-webkit */
						display: -webkit-box;
						max-width: 400px;
						margin: 0 auto;
						line-height: 1.4;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}

		.image {
			height: 100px;
			width: 100px;
			background-color: #fafbfc;
			// background-image: url(../img/admin/default.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			border: 1px solid rgba(195, 207, 216, 0.3);
		}
	}
}

.next-list {
    margin-top: 15px;

     > li {
        border-top: 1px solid #dfe4e8;
        margin-left: 15px;

        &:first-child {
            border-top: none;
        }

        .next-list-item {

            .stack {
                display: flex;
                align-items: center;

                > div {
                    flex: 0 0 auto;
                    margin: 7.5px 0 7.5px 15px;

                    &.image {
                        height: 40px;
                        width: 40px;
                        margin-left: 0;
                        margin-right: 15px;
                        background-color: #fafbfc;
                        // background-image: url(../img/admin/default.png);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 1px solid rgba(195, 207, 216, 0.3);
                    }

                    &.title {
                        margin-left: 0;
                        flex: 1 1 auto;
                    }

                    &.close {
                        button {
                            background: none !important;
                            border: none !important;
                            box-shadow: none !important;

                            &:hover {
                                color: #333;
                            }
                        }
                    }
                }
            }

            &.next-list-child {
                margin-left: 55px;

                li {
                    border-top: 1px solid #dfe4e8;

                    .stack {
                        .title {
                            margin: 12.5px 0;
                        }
                    }
                }
            }
        }
    }
}


.reports-index-card {
	.metric-name {
		padding-top: 7px;
		font-size: 12px;
	}

	.index-metric {
		.metric-wrapper {
			.value {
				font-size: 30px;
				font-weight: 500;
			}
		}
	}
	.subdued {
		color: #808080;
	}
	
	a {
		color: $color-primary;

		&:hover {
			text-decoration: underline;
		}
	} 

	.report-index-table {
		.report-title {
			font-size: 12px;
			padding-bottom: 8px;
		}

		table {
			width: 100%;

			tr {
				&:last-child {
					td {
						border-bottom: none;
					}
				}
				td {
					padding: 8px 0;
					border-bottom: 1px solid #ddd;

					&:first-child {
						padding-right: 5px;
					}
				}
			}
		}
	}
}

.backdrop-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 100;
}

.ct-label {
	font-size: 10px;
	white-space: nowrap;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
	stroke: $color-primary;
}

.table-detailed>tbody>tr:nth-of-type(4n+1) {
    background-color: #f9f9f9;
}

.table-detailed.table>tbody>tr.active>td, 
.table-detailed.table>tbody>tr.active>th, 
.table-detailed.table>tbody>tr>td.active, 
.table-detailed.table>tbody>tr>th.active, 
.table-detailed.table>tfoot>tr.active>td, 
.table-detailed.table>tfoot>tr.active>th, 
.table-detailed.table>tfoot>tr>td.active, 
.table-detailed.table>tfoot>tr>th.active, 
.table-detailed.table>thead>tr.active>td, 
.table-detailed.table>thead>tr.active>th, 
.table-detailed.table>thead>tr>td.active, 
.table-detailed.table>thead>tr>th.active {
	background-color: #d9edf7;
    color: #333;
    border-bottom-color: #d9edf7;
    transition: background 0.3s ease-out; 
}

.table-detailed i.detail-indicator {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    margin-left: 10px;
}

#sales-table.table-detailed .void {
	padding-left: 30px;
	font-size: 11px;
    color: #860808;
    font-weight: 600;
}

.table-detailed .active i.detail-indicator:before {
	content: "\f0d7";
}

.table-detailed i.detail-indicator:before {
	content: "\f0da";
}

.table-detailed>tbody>tr:hover {
	background-color: #f7fafc;
}

.table-detailed tr.row-detail {
	display: none;
	background: #fff !important;
}
.table-detailed tr.row-detail > td {
	padding: 0;
}

.table-detailed.table>tbody>tr.active>td:first-child {
	border-left: 5px solid $color-primary;
}

.table-detailed tr.row-detail > td {
	border-top-color: #d9edf7;
	border-left: 5px solid $color-primary;
}

.table-detailed tr.row-detail table {
	margin: 15px 0px;
}

.table-detailed tr.row-detail table thead th {
	font-size: 11px;
}

.table-detailed tr.row-detail table tfoot th {
	font-size: 16px;
}

.table-detailed tr.row-detail table td {
	padding: 8px 8px;
	font-size: 12px;
}

.table-detailed>tbody>tr.active + tr.row-detail {
	display: table-row;
}

.table-detailed tr.row-detail .remarks {
	border: 1px solid #eee;
	background: #fafa       fa;
	margin: 35px 25px;
	padding: 20px;
}

.error {
	color: red;
	font-size: 12px;
}

/* TIMELINE */
.timeline {
	list-style: none;
	padding: 20px 0 0px 30px;
	position: relative;

	&:before {
		top: 0;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 4px;
		background-color: #ddd;
		left: 0%;
		margin-left: 28.5px;
	}

	> li {
		position: relative;
		margin-top: 25px;

		&:before, &:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}

		> .timeline-panel {
			width: 100%;
			float: left;
			padding-left: 50px;
			padding-top: 15px;
		}

		> .timeline-badge {
			color: #fff;
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 1.4em;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0%;
			margin-left: -25px;
			background-color: #999999;
			z-index: 100;
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
		}
	}

	.timeline-badge {
		&.primary {
			background-color: #2e6da4 !important;
		}
		&.success {
			background-color: #3f903f !important;
		}
		&.warning {
			background-color: #f0ad4e !important;
		}
		&.danger {
			background-color: #d9534f !important;
		}
		&.info {
			background-color: #5bc0de !important;
		}
	}

	.timeline-date-header {
		padding: 20px 15px 20px 50px;
	}

	.timeline-content-row-content {
		padding-left: 15px;
	}
}

.actions {
    a {
        display: inline-flex;
    }
}
