// PLUGINS
@import "../assets/css/font-awesome-pro.css";
@import '../assets/css/jquery.fancybox.min.css';
@import '../assets/css/material/material-components-web.min.css';
@import '../assets/css/bootstrap/bootstrap.css';
@import '../assets/css/bootstrap/bootstrap-grid.css';
@import '../assets/css/bootstrap/bootstrap-reboot.css';
@import '../assets/css/bootstrap/bootstrap-reboot.css';
@import '../assets/css/bootstrap-datetimepicker.min.css';
@import "../assets/css/bootstrap-toggle.css";
@import '../assets/css/animate.min.css';
@import '../assets/css/dataTables.bootstrap4.min.css';
@import '../assets/css/chartist.min.css';
@import '../assets/css/daterangepicker.css';
@import '../assets/css/jquery.scrollbar.css';
@import '../assets/css/sweetalert.css';
@import '../assets/css/toastr.min.css';
@import '../assets/css/select2.min.css';
@import '../assets/css/selectize.bootstrap3.css';
@import '../assets/css/fullcalendar.min.css';

// CABOODLE SASS
@import 'caboodle/variables.scss';
@import 'caboodle/mixins.scss';
@import 'caboodle/settings.scss';
@import 'caboodle/global.scss';
@import 'caboodle/layout.scss';
@import 'caboodle/buttons.scss';
@import 'caboodle/forms.scss';
@import 'caboodle/assets.scss';
@import 'caboodle/login.scss';
@import 'caboodle/flex.scss';
@import 'caboodle/grid.scss';
@import 'caboodle/invoice.scss';
@import 'caboodle/helpers.scss';
@import 'caboodle/emails/layout.scss';
@import 'banner-video-modal.scss';

ul.permission-list{
    >li{
        height: fit-content;
        padding: 5px 10px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        >.header{
            margin-bottom: unset !important;
            margin-left: 10px;
            line-height: 2;
        }
    }
    ul.parent{
        display: grid;
        grid-auto-flow: column;
        padding: unset;
        margin-bottom: 20px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);
        li{
            border: 0px;
            border-radius: 0px;
            &:first-of-type{
                border-bottom-left-radius: 6px;
            }
            &:last-of-type{
                border-bottom-right-radius: 6px;
            }
        }
    }
}

.dropdownDatepickerGroup{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 150px));

    @media screen and (max-width: 424px) {
        grid-template-columns: auto;
        grid-auto-flow: row;
    }

    > select {
        border-radius: 0;
        &:first-of-type {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        };
        &:last-of-type {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        };
    }
}

nav {
	&.navbar {
        .navbar-brand{
            font-size: 15px;
        }
		.navbar-button {
			&.navbar-button-web {
				@media #{$tablet} {
					display: block;
				}
			}
		}
	}
}

.caboodle-table {
	thead {
		tr {
			th {
				i, span {
					padding-left: 0px;
				}
			}
		}
    }
}

.caboodle-card{
    .caboodle-card-body{
        overflow-y: auto;
        overflow-x: hidden;
    }

    @media screen and (max-width: 650px) {
        padding: 0px 15px;
    }
}

.mdc-icon-toggle{
    width: unset;
}

.hidden {
    display: none;
}

.caboodle-card{
    h4{
        font-size: 14px;
    }
}

.txt{
    &-primary{
        color: $primary-medium;
    }
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}

iframe{
    width: 100%;
    height: 570px;
    border-radius: 0.25rem;

    @media screen and (max-width: 840px) {
        height: 400px;
    }
    @media screen and (max-width: 650px) {
        height: inherit;
    }
}

ul.parsley-errors-list{
    padding-left: 0;
}

.form-control{
    &.parsley-error{
        border-color: $red-medium;
    }
}

aside{
    transition: all 0.4s ease;
}
main{
    transition: margin 0.4s ease;
}

table.table-schedule{
    table-layout: fixed;

    tbody{
        td{
            .badge{
                white-space: pre-wrap;
                text-align: left;
                display: block;
                line-height: 1.4;

                &.badge-primary{
                    background-color: $primary-medium;
                }
            }
        }    
    }

    .current-day{
        background-color: #fafafa;
    }

}

.caboodle-card{
    &.current-day{
        background-color: #fafafa;  
    }
    &.schedule-card{
        .badge{
            white-space: pre-wrap;
            text-align: left;
            display: block;
            line-height: 1.4;
    
            &.badge-primary{
                background-color: $primary-medium;
            }
        }
    }
}

#iframeCover{
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    width: 95.5%;
}

.fancybox-iframe{
    background: rgba(14, 14, 16, 0.87) !important;
    border-radius: 0;
}

#videos-modal{

    .asset-details{
        .photo{
            iframe{
                max-width: 100%;
                max-height: 180px !important;
                margin: 0 auto;
            }
        }
    }

}

#lecturesModal{

    .pagination{
        margin: 0;

        .page-item{
            .page-link{
                color: $primary-medium;   
            }
            &.active{
                .page-link{
                    background-color: $primary-medium;
                    border-color: $primary-medium;
                    color: #fff;
                }
            }
        }
    }

}


.video-container {
	position: relative;
    
    &.full-screen{
        padding: 0;
        
        iframe{
            width: 100% !important;
            height: 100% !important;
        }
    }

	.name-overlay {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 100%;
        text-align: center;

        span{
            background: rgba(0, 0, 0, 0.5);
            color: #FFF;
            z-index: 999;
            padding: 0 10px;
        }
	}
}

@mixin custom-alert($color) {
    border-color: $color;

    .alert-container {
        .icon-container {
            background-color: $color;

            .fa-stack-1x {
                color: $color;
            }
        }
    }
}

.custom-alert {
    padding: 0 1.25rem 0 0;

    .alert-container {
        display: flex;

        .icon-container {
            flex-basis: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .content-container {
        padding: 0.75rem 0 0.75rem 1.25rem;

        .date {
            font-size: 12px;
            margin-bottom: 1rem;
        }
        .title {
            font-size: 18px;
            font-weight: 950;
        }
    }

    &.alert-warning {
        @include custom-alert(#ffc107);
    }
    &.alert-info {
        @include custom-alert(#17a2b8);
    }
    &.alert-primary {
        @include custom-alert(#007bff);
    }
    &.alert-success {
        @include custom-alert(#28a745);
    }
    &.alert-danger {
        @include custom-alert(#dc3545);
    }
    &.alert-secondary {
        @include custom-alert(#6c757d);
    }
}

.navbar-banner-text {
    flex: 1;
    margin-right: auto;
    padding-left: 0.75rem;
    max-height: 42px;
    overflow: hidden;

    &.mobile {
        display: none;
    }

    @media screen and (max-width: 767px){
        &.desktop {
            display: none;
        }
        &.mobile {
            display: flex;
            flex-basis: auto;
            flex-wrap: wrap;
        }
    }
}

body {
    nav.navbar {
        .navbar-brand {
        }
    }

    @media screen and (max-width: 500px){
        &.hide-menu {
            nav.navbar {
                .navbar-left {
                    max-width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 767px){
        nav.navbar {
            .navbar-brand {
                margin-right: 0;
            }
        }
    }
    @media screen and (min-width: 501px){
        &.hide-menu {
            nav.navbar {
                .navbar-left {
                    max-width: 100px;
                }
            }
        }
    }
}
