@charset "UTF-8";

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Lato";
  background-color: #f1f1f1;
  overflow-x: hidden;
}

body.hide-menu .navbar .navbar-nav > li > a.menu-btn {
  color: #fff;
  border: 1px solid #fff;
}

body.hide-menu aside {
  transform: translateX(-220px);
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
}

body.hide-menu main {
  margin-left: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  outline: none !important;
}

th.sortable {
  cursor: pointer;
  cursor: hand;
}

.list-style-dot {
  list-style: initial !important;
}

.cursor-pointer {
  cursor: pointer;
}

hr {
  border-color: #dddddd;
}

a.link {
  font-size: 14px;
  font-weight: normal;
  color: #2ac3f2;
  text-decoration: underline;
}

a.link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

a.link:hover {
  opacity: 0.7;
}

a.link.btn {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.fa-spin {
  -webkit-animation: fa-spin 0.7s infinite linear;
  animation: fa-spin 0.7s infinite linear;
}

.toggle.btn {
  min-width: 70px;
}

.btn {
  border-radius: 2px;
}

.btn-transparent,
.navbar .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: transparent;
  border: 1px solid #DAD7D5;
  border-radius: 2px;
  color: #E6E6E6;
}

.btn-transparent.active,
.navbar .navbar-nav > li > a.active,
.btn-transparent:hover,
.navbar .navbar-nav > li > a:hover {
  border-color: #fff;
  color: #fff;
}

.btn-full {
  width: 100%;
  margin: 3px 0;
}

.btn-inherent,
.form .sumo-asset-select label a,
.form .edit-slug {
  margin-left: 8px;
  font-weight: 400;
  text-decoration: underline;
  color: #2ac3f2;
}

.btn-color-primary {
  background: #2ac3f2;
  border-color: #2ac3f2;
  color: #fff;
}

.remove-btn-styles {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-item {
  flex: 1;
}

.selected-country-list .flex-container {
  width: 100%;
  padding: 10px;
}

.selected-country-list .flex-container:hover {
  background-color: #ebf5fa;
}

.selected-country-list .flex-container .provinces {
  cursor: pointer;
  margin-right: 10px;
}

.selected-country-list .flex-container .provinces:hover {
  background-color: #ebf5fa;
}

.selected-country-list .flex-container .flex-item {
  width: 100%;
}

.selected-country-list .flex-container .flex-item .close {
  cursor: pointer;
}

.render-shipping-rates-list table tbody tr td .edit {
  cursor: pointer;
}

.render-shipping-rates-list table tbody tr td .edit:hover {
  background-color: #f5f5f5;
}

.align-middle {
  vertical-align: middle !important;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-table .display-cell {
  display: table-cell;
  vertical-align: middle;
}

.display-inline-block {
  display: inline-block;
  padding: 0 15px;
  width: auto;
}

.inline-blocks > * {
  display: inline-block;
  margin-right: 10px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: none !important;
}

.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.row-margin-default .row {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.border-right-light {
  border-right: 1px solid #eee;
}

.xs-text {
  font-size: 10px;
}

.sm-text {
  font-size: 12px;
}

.md-text {
  font-size: 14px;
}

.lg-text {
  font-size: 18px;
}

.xl-text {
  font-size: 26px;
}

.text-bold {
  font-weight: bold;
}

.text-lighter {
  font-weight: initial !important;
}

.text-light {
  color: #808080;
}

.text-primary {
  color: #2ac3f2;
}

.text-success {
  color: #5cb85c;
}

.text-danger {
  color: #d9534f !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.text-icon i {
  font-size: 16px;
  padding-right: 15px;
  color: #808080;
}

.text-icon i.text-primary {
  color: #2ac3f2;
}

.checkbox-item {
  cursor: pointer;
}

.sent-on {
  padding-bottom: 10px;
  color: #808080;
  font-size: 12px;
}

.status-tag {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
}

.status-tag.status-tag-yellow {
  background: #fee67f;
}

.status-tag.status-tag-orange {
  background: #fec07f;
}

.status-tag.status-tag-danger {
  background: #d9534f;
  color: #FFF;
}

.status-tag.status-tag-success {
  background: #5cb85c;
  color: #FFF;
}

.uppercase {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

.break-word {
  word-break: break-all;
}

.rating-list {
  padding-left: 0;
  list-style: none;
  display: inline-flex;
  margin: 0px 5px;
}

.rating-list li {
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  opacity: 1;
  color: #ffd700;
}

.rating-list li.active,
.rating-list li.light {
  opacity: 1 !important;
  color: #ffd700 !important;
}

.rating-list li.active ~ li {
  opacity: 0.3;
  color: inherit;
}

.rating-list li.light:last-child ~ li,
.rating-list li.off {
  opacity: 0.3 !important;
  color: inherit !important;
}

.rating-list:not(.display) li:hover ~ li {
  opacity: 0.3 !important;
}

/* The switch - the box around the slider */

.input-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */

.input-switch input {
  display: none;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.validation-hidden {
  overflow: hidden;
  margin: 0;
  border: none;
  height: 1px;
  width: 1px;
  padding: 0;
}

.validation-hidden * {
  margin: 0;
  border: none;
  max-height: 0;
  height: 0;
  padding: 0;
}

.validation-hidden ul {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  align-content: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.flex .flex-content {
  width: 100%;
}

.flex .flex-content i {
  padding-right: 15px;
  font-size: 16px;
  color: #6B6868;
}

.flex .flex-content i.text-success {
  color: #5cb85c;
}

.flex .flex-content-left {
  word-wrap: break-word;
  word-break: break-word;
  flex: 1 1 100%;
  position: relative;
  padding-right: 20px;
}

.flex .flex-content-right {
  flex: 0 0 auto;
  text-align: right;
}

.content-inline-blocks.content-inline-blocks-right {
  text-align: right;
}

.content-inline-blocks > * {
  display: inline-block;
}

.content-inline-blocks > *.btn {
  margin-left: 10px;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.loader.loader-asset {
  position: static;
  height: auto;
}

.loader .spinner {
  width: 40px;
  height: 40px;
  background-color: #2ac3f2;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#page-loader {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

#page-loader .spinner {
  background-color: #fff;
}

#login {
  position: relative;
}

#login .banner-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#login .banner-container .banner {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#login .banner-details-container {
  color: #fff;
}

#login .banner-details-container .details .heading {
  font-size: 50px;
  text-shadow: 1px 2px 5px #000;
}

#login .banner-details-container .details .sub-heading {
  text-shadow: 1px 2px 5px #000;
}

#login .login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

#login .login-container .column:first-of-type {
  flex-basis: 40%;
}

#login .login-container .column:last-of-type {
  flex-basis: 58%;
}

@media screen and (max-width: 767px) {
  #login .banner-details-container {
    display: none;
  }
}

.navbar {
  background-color: #2ac3f2;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 52px;
}

.navbar .navbar-brand {
  padding: 10px 0;
}

.navbar .navbar-brand img {
  max-height: 100%;
}

.navbar .navbar-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .navbar-nav > li {
  margin-left: 6px;
}

.banner-status-info {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-top-width: 5px;
  border-radius: 3px;
}

.banner-status-info.bg-info {
  border-top-color: #1b809e;
}

.banner-status-info .cell-icon {
  font-size: 24px;
  color: #1b809e;
  padding-right: 15px;
}

.banner-status-info td {
  vertical-align: middle;
}

.form-box-checkbox {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.form-box-checkbox input[type=checkbox] {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.form {
  padding: 20px 14px;
  border: 1px solid #dddddd;
  background: #fff;
}

.form .form-box {
  position: relative;
  padding: 20px 14px;
  border: 1px solid #dddddd;
  background: #fff;
  margin-top: 20px;
  box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.1);
}

.form .form-box:first-child {
  /* margin-top: 0;*/
}

.form .form-box label {
  font-weight: 500;
}

.form .form-box.form-box-card {
  background-color: #f9fafb;
  padding-top: 20px;
  border-top: none;
}

.form .form-box.form-box-card td,
.form .form-box.form-box-card th {
  vertical-align: top;
  padding: 6px 10px;
}

.form .form-box.form-box-card td:first-child,
.form .form-box.form-box-card th:first-child {
  padding-left: 0;
}

.form .form-box.form-box-card td:last-child,
.form .form-box.form-box-card th:last-child {
  padding-right: 0;
}

.form .form-box.form-box-header {
  background-color: #f9fafb;
  line-height: 1.8;
}

.form .form-box .header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form .form-box .header .form-box-checkbox {
  float: right;
}

.form .form-box a.link {
  font-size: 14px;
  font-weight: normal;
  color: #2ac3f2;
  text-decoration: underline;
}

.form .form-box a.link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form .form-box a.link:hover {
  opacity: 0.7;
}

.form .form-box a.link.btn {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.form .form-box .sub-title {
  color: #808080;
}

.form .form-box .sub-title.danger {
  color: #fc4152;
}

.form .form-box .sub-title.small-sub-title {
  font-size: 11px;
}

.form .form-box .title-hard {
  font-weight: bold;
}

.form .form-box .images-container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
}

.form .form-box .images-container .empty-bg {
  background: #eee;
  position: relative;
  display: flex;
  width: 100%;
  height: 180px;
  text-align: center;
}

.form .form-box .images-container .empty-bg i {
  font-size: 80px;
  opacity: 0.2;
  width: 100%;
  align-items: center;
  align-content: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.form .form-box .images-container .col {
  padding: 5px;
}

.form .form-box .form-group.form-select .select2-container {
  width: auto !important;
}

.form .form-box .form-group.form-select .select2-selection {
  border: none;
  background: none;
}

.form .form-box .form-group.form-select .select2-selection .select2-selection__rendered {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 2px;
  border: 1px solid #dddddd;
  margin: 0;
  padding-top: 0;
}

.form .form-box .form-group.form-select .select2-selection .select2-search__field {
  max-width: 200px;
  margin-top: 6px;
}

.form .form-box .form-group.form-select .select2-selection .select2-selection__choice {
  margin-top: 6px;
}

.form .form-box .form-group.form-select .select2-selection .select2-selection__choice span {
  margin-right: 5px;
}

.form .form-box .form-group.form-select .select2-container--focus .select2-selection__rendered {
  outline: 0;
  border-color: #2ac3f2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(154, 154, 154, 0.6);
}

.form .form-box .form-group .form-box-checkbox {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.form .form-box .form-group .form-box-checkbox input {
  outline: none;
  box-shadow: none !important;
  width: 18px;
  height: 18px;
}

.form .form-box .form-group .toggle .toggle-group .fa {
  display: none;
}

.form .form-box .form-group .form-control-stylized {
  position: relative;
}

.form .form-box .form-group .form-control-stylized.focus-in > span {
  opacity: 1;
}

.form .form-box .form-group .form-control-stylized > span {
  position: absolute;
  line-height: 34px;
  top: 0;
  left: 10px;
  opacity: 0.5;
}

.form .form-box .form-group .form-control-stylized .form-control {
  padding-left: 23px;
}

.form .form-box .form-group .form-control-stylized.style-right > span {
  right: 10px;
  left: auto;
}

.form .form-box .form-group .form-control-stylized.style-right .form-control {
  padding-right: 23px;
  padding-left: 6px;
}

.form .form-box .form-group .form-control-connected {
  position: relative;
}

.form .form-box .form-group .form-control-connected .form-control {
  padding-right: 62px;
}

.form .form-box .form-group .form-control-connected .select-wrapper {
  position: absolute;
  height: 32px;
  width: 50px;
  top: 1px;
  right: 1px;
  background: linear-gradient(to bottom, #fff, #f9fafb);
  border-left: 1px solid #dddddd;
}

.form .form-box .form-group .form-control-connected .select-wrapper select {
  padding-left: 8px;
  padding-right: 20px;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  outline: #2ac3f2;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form .form-box .form-group .form-control-connected .select-wrapper select:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #2ac3f2;
}

.form .form-box .form-group .form-control-connected .select-wrapper span {
  position: absolute;
  top: 3px;
  right: 7px;
}

.form .form-box .form-group .form-control-connected .select-wrapper span i {
  opacity: 0.7;
}

.form .form-box .form-group .form-control-connected .btn {
  position: absolute;
  height: 34px;
  top: 0px;
  right: 0px;
  border-left: 1px solid #dddddd;
}

.form .form-box .form-group .form-control-connected .btn i {
  opacity: 0.7;
}

.form .form-box .form-group .popover {
  border-radius: 8px;
  max-width: 100%;
  width: 100%;
  left: 0 !important;
  border-color: #ddd;
  display: none;
}

.form .form-box .form-group .popover.animated {
  /* display: block;*/
}

.form .form-box .form-group .popover .popover-content {
  padding: 6px 0;
  max-height: 300px;
  overflow: auto;
  font-family: "Lato";
}

.form .form-box .form-group .popover .popover-content ul {
  margin: 0;
}

.form .form-box .form-group .popover .popover-content li {
  padding: 5px 15px;
  cursor: pointer;
}

.form .form-box .form-group .popover .popover-content li a {
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
}

.form .form-box .form-group .popover .popover-content li i {
  color: #2ac3f2;
  -ms-grid-row-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

.form .form-box .form-group .popover .popover-content li .label {
  color: #333;
  font-weight: 600;
  padding: 0 15px;
  font-size: 14px;
}

.form .form-box .form-group .popover .popover-content li .value {
  word-wrap: break-word;
  overflow: auto;
  word-wrap: break-word;
}

.form .form-box .form-group .popover .popover-content li img {
  border: 1px solid #2ac3f2;
  border-radius: 3px;
  background: #2ac3f2;
  margin-right: 10px;
}

.form .form-box .form-group .popover .popover-content li span {
  -ms-grid-row-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

.form .form-box .form-group .popover .popover-content li:hover {
  background: #2ac3f2;
}

.form .form-box .form-group .popover .popover-content li:hover i,
.form .form-box .form-group .popover .popover-content li:hover span {
  color: #fff;
}

.form .form-box .form-group .popover .popover-content .loader-content {
  text-align: center;
  padding: 8px 15px;
}

.form .form-box .form-group .popover .popover-content .loader-content:hover {
  background: #FFF;
}

.form .form-box .form-group .popover .popover-content .loader-content:hover span {
  color: inherit;
}

.form .form-box .form-group .popover .popover-content .loader-content .fa {
  color: #2ac3f2;
}

.form .form-box .form-group .popover .popover-content .loader-content span {
  font-size: 13px;
  padding-left: 10px;
}

.form .form-box .form-group .tag-list {
  margin: 10px 0 0 0;
}

.form .form-box .form-group .tag-list li {
  margin-right: 3px;
  margin-bottom: 5px;
  background: #6B6868;
  display: inline-flex;
  width: auto;
  padding: 4px 8px;
  color: #fff;
  border-radius: 3px;
}

.form .form-box .form-group .tag-list li span {
  -ms-grid-row-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  font-size: 13px;
  padding-right: 8px;
}

.form .form-box .form-group .tag-list li .fa {
  -ms-grid-row-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}

.form .form-box .form-group .tag-list li .fa:hover {
  opacity: 0.5;
}

.form .form-box .form-group .selected-products {
  padding: 10px 0;
}

.form .form-box .form-group .selected-products .product-tag {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #f5f5f5;
}

.form .form-box .form-group .selected-products .product-tag .image {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: #fafbfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
  margin-right: 10px;
}

.form .form-box .form-group .selected-products .product-tag .title {
  width: 100%;
}

.form .form-box .form-group .selected-products .product-tag button {
  background: transparent;
  border: none;
  opacity: 0.5;
  transition: 0.2s;
}

.form .form-box .form-group .selected-products .product-tag button:hover {
  opacity: 1;
}

.form .form-box.form-box-pull-up {
  margin-top: 0;
  border-top: none;
}

.form .form-box.summary-details ul {
  padding: 0 15px;
}

.form .form-box.summary-details ul li {
  list-style: disc;
  padding: 5px 0;
}

.form .page-actions {
  margin: 20px 0;
  border-top: 1px solid #dddddd;
  padding: 20px 0;
  text-align: right;
}

.form .page-actions .btn {
  margin-right: 10px;
}

.form .page-actions .btn:last-child {
  margin-right: 0;
}

.form .form-control {
  border-radius: 2px;
  border: 1px solid #dddddd;
}

.form .dropdownDatepickerGroup select {
  width: auto;
  display: inline-block;
}

.form .sumo-asset-select img {
  max-width: 100%;
  max-height: 400px;
  display: block;
}

.form .sumo-asset-select .sumo-asset-img-container {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  background: #fafbfc;
  border: 1px solid rgba(195, 207, 216, 0.3);
  position: relative;
}

.form .sumo-asset-select .sumo-asset-img-container:hover .sumo-asset-img-hover-overlay {
  opacity: 1;
}

.form .sumo-asset-select .sumo-asset-img-container img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.form .sumo-asset-select .sumo-asset-img-container .sumo-asset-img-hover-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(58, 54, 51, 0.6);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.form .sumo-asset-select .sumo-asset-img-container .sumo-asset-img-hover-overlay ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.form .sumo-asset-select .sumo-asset-img-container .sumo-asset-img-hover-overlay ul a {
  padding: 8px 6px;
  display: block;
  line-height: 0;
  text-align: center;
  color: #FFF;
  outline: none !important;
}

.form .sumo-asset-select .sumo-asset-img-container .sumo-asset-img-hover-overlay ul a:hover {
  opacity: 0.5;
}

.form.form-crop {
  /* #crop-target {*/
  /* 	width: 100%;*/
  /* }*/
}

.form.form-crop img {
  display: block;
}

.form.form-clear {
  border: none;
  padding: 0;
  background: none;
}

.form.form-delete {
  padding: 0;
  border: none;
  background: transparent;
}

.form.form-delete label {
  cursor: pointer;
  margin-bottom: 0;
}

.form.form-delete input[type=checkbox] {
  display: none;
}

.form.form-delete input[type=checkbox]:checked ~ .input-unchecked {
  display: none;
}

.form.form-delete input[type=checkbox]:checked ~ .input-checked {
  display: inline-block;
}

.form.form-delete .input-unchecked {
  display: inline-block;
}

.form.form-delete .input-checked {
  display: none;
}

.form-control-outline,
.select2-container--default .select2-search--dropdown .select2-search__field:focus,
.select2-container--default .select2-selection--single:focus,
.form-control:focus {
  outline: 0;
  border-color: #2ac3f2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(154, 154, 154, 0.6);
}

.form-control.parsley-error {
  border-color: #fc4152;
}

.form-control.form-control-parent {
  padding: 0;
}

.form-control.form-control-parent input {
  width: 60px;
  border: none;
  background: none;
  box-shadow: none;
}

.parsley-errors-list li {
  font-size: 10px;
  color: #fc4152;
}

.popover {
  max-width: 80%;
  border-radius: 2px;
  padding: 0;
}

.popover .popover-title {
  background-color: #6B6868;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 2px 2px 0 0;
}

.popover table {
  margin-bottom: 10px !important;
}

.popover table img {
  max-width: 100%;
}

[data-notify=container] {
  border-radius: 0;
  bottom: 0 !important;
  right: 0 !important;
  color: #fff;
  background-color: #2ac3f2;
  border: none;
  z-index: 99999 !important;
}

.select2-container--default {
  display: block;
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 34px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 21px;
  padding: 6px 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px !important;
}

aside {
  position: fixed;
  left: 0;
  top: 52px;
  bottom: 0;
  width: 220px;
  height: auto;
  background: #3a3633;
  background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
  transition: all 0.4s ease;
  z-index: 9;
}

aside .scroll-wrapper {
  height: 100%;
}

aside .scroll-wrapper .scroll-content > ul {
  padding-top: 40px;
  margin-bottom: 0;
}

aside .scroll-wrapper .scroll-content > ul li {
  position: relative;
}

aside .scroll-wrapper .scroll-content > ul li a,
aside .scroll-wrapper .scroll-content > ul li span {
  display: block;
  font-size: 14px;
  color: #c0bbb7;
  padding: 10px 18px;
  cursor: pointer;
}

aside .scroll-wrapper .scroll-content > ul li a:hover,
aside .scroll-wrapper .scroll-content > ul li a:focus,
aside .scroll-wrapper .scroll-content > ul li span:hover,
aside .scroll-wrapper .scroll-content > ul li span:focus {
  color: #fff;
}

aside .scroll-wrapper .scroll-content > ul li a i.fa,
aside .scroll-wrapper .scroll-content > ul li span i.fa {
  margin-right: 10px;
  font-size: 18px;
  width: 20px;
  text-align: center;
}

aside .scroll-wrapper .scroll-content > ul li a .collapse-icon,
aside .scroll-wrapper .scroll-content > ul li span .collapse-icon {
  position: absolute;
  right: 4px;
  top: 13px;
}

aside .scroll-wrapper .scroll-content > ul li a .collapse-icon .n,
aside .scroll-wrapper .scroll-content > ul li span .collapse-icon .n {
  display: none;
}

aside .scroll-wrapper .scroll-content > ul li a .collapse-icon .p,
aside .scroll-wrapper .scroll-content > ul li span .collapse-icon .p {
  display: block;
}

aside .scroll-wrapper .scroll-content > ul li.active a {
  color: #fff;
}

aside .scroll-wrapper .scroll-content > ul li.active a:before {
  content: "";
  border-style: solid;
  border-width: 5px 6px 5px 0;
  border-color: transparent #F1F1F1 transparent transparent;
  position: absolute;
  right: 0;
  top: 14px;
  z-index: 9;
}

aside .scroll-wrapper .scroll-content > ul li a.active {
  color: #fff;
}

aside .scroll-wrapper .scroll-content > ul li a.active:before {
  content: "";
  border-style: solid;
  border-width: 5px 6px 5px 0;
  border-color: transparent #F1F1F1 transparent transparent;
  position: absolute;
  right: 0;
  top: 14px;
  z-index: 9;
}

aside .scroll-wrapper .scroll-content > ul li ul {
  position: relative;
}

aside .scroll-wrapper .scroll-content > ul li ul > li {
  position: relative;
}

aside .scroll-wrapper .scroll-content > ul li ul > li a,
aside .scroll-wrapper .scroll-content > ul li ul > li span {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 42px;
}

aside .scroll-wrapper .scroll-content > ul li ul.no-icon li a {
  padding-left: 48px;
}

aside .scroll-wrapper .scroll-content > ul li.open .collapse-icon .n {
  display: block;
}

aside .scroll-wrapper .scroll-content > ul li.open .collapse-icon .p {
  display: none;
}

.dataTables_wrapper > .row {
  margin-left: 0;
  margin-right: 0;
}

.dataTables_wrapper .row:first-child {
  padding: 6px 0;
  border: 1px solid #dddddd;
  border-bottom: none;
}

.dataTables_wrapper .dataTables_length select {
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_filter input {
  border-radius: 2px;
}

.dataTables_wrapper table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.dataTables_wrapper .row:nth-child(2) > div {
  padding: 0;
}

.dataTables_wrapper .row:last-child {
  padding: 4px 6px 0 6px;
  border: 1px solid #dddddd;
  border-top: none;
}

.dataTables_wrapper .dataTables_info {
  font-style: italic;
  font-size: 12px;
  color: #2ac3f2;
}

.dataTables_wrapper .dataTables_paginate .pagination {
  font-size: 12px;
}

.dataTables_wrapper .dataTables_paginate .pagination .active a {
  background-color: #2ac3f2;
  border-color: #2ac3f2;
}

#shippingModal .modal-dialog {
  transition: all 0.3s ease-out;
}

.modal-content {
  border-radius: 2px;
}

.modal-content form {
  padding: 0px;
}

#assets-modal .modal-dialog {
  width: auto;
  margin: 50px 20px;
}

#assets-modal .modal-header {
  border-bottom: none;
}

#assets-modal .modal-body {
  padding: 0;
}

#assets-modal .modal-body .nav-tabs > li > a {
  border-radius: 2px;
}

#assets-modal .modal-body .tab-content > .tab-pane {
  padding: 8px 15px;
  padding-right: 0;
}

#assets-modal .modal-body #file-upload .dropzone {
  height: 300px;
  background-color: #eee;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  color: #2ac3f2;
}

#assets-modal .modal-body #file-library .files {
  max-height: 500px;
  overflow: auto;
}

#assets-modal .modal-body #file-library .files .file {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 3px solid transparent;
  margin-right: 4px;
  margin-bottom: 25px;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#assets-modal .modal-body #file-library .files .file.active {
  border-color: #2ac3f2;
}

#assets-modal .modal-body #file-library .files .file .progress {
  overflow: initial;
  height: 4px;
  background-color: #fff;
  border-radius: 0px;
  margin: 0;
}

#assets-modal .modal-body #file-library .files .file .name {
  position: absolute;
  bottom: -28px;
  height: 25px;
  text-overflow: ellipsis;
  max-width: 120px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  left: -3px;
  padding: 5px;
  font-size: 12px;
  transition: all 0.25s ease;
}

#assets-modal .modal-body #file-library .files .file .name:hover {
  max-width: 200%;
  background-color: #fff;
  z-index: 10000;
  box-shadow: #333 0px 2px 5px 0px;
}

#assets-modal .modal-body .loader {
  height: 240px;
  position: relative;
}

#assets-modal .modal-body .asset-details .header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}

#assets-modal .modal-body .asset-details .photo {
  margin-bottom: 20px;
}

#assets-modal .modal-body .asset-details .photo img {
  max-width: 100%;
  margin-bottom: 4px;
}

#assets-modal .modal-body .asset-details .photo .delete a {
  color: #2ac3f2;
  text-decoration: underline;
}

#assets-modal .modal-body .asset-details form {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

.browse-modal .modal-filters,
.country-modal .modal-filters {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.browse-modal .modal-filters .form-control-stylized,
.country-modal .modal-filters .form-control-stylized {
  position: relative;
}

.browse-modal .modal-filters .form-control-stylized > span,
.country-modal .modal-filters .form-control-stylized > span {
  position: absolute;
  line-height: 34px;
  top: 0;
  left: 10px;
  opacity: 0.5;
}

.browse-modal .modal-filters .form-control-stylized .form-control,
.country-modal .modal-filters .form-control-stylized .form-control {
  padding-left: 28px;
}

.browse-modal .modal-body,
.country-modal .modal-body {
  max-height: 500px;
  overflow: auto;
}

.browse-modal .table tr td,
.country-modal .table tr td {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  vertical-align: middle;
}

.browse-modal .table tr td img,
.country-modal .table tr td img {
  padding: 10px;
}

.browse-modal .browse-list .image,
.browse-modal .browse-item-list .image,
.country-modal .browse-list .image,
.country-modal .browse-item-list .image {
  width: 30px;
  height: 30px;
  background-color: #fafbfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
  border-radius: 3px;
  margin: auto;
}

.browse-modal .browse-list tr,
.browse-modal .browse-item-list tr,
.country-modal .browse-list tr,
.country-modal .browse-item-list tr {
  cursor: pointer;
}

.browse-modal .browse-list tr.disabled,
.browse-modal .browse-list tr .selected,
.browse-modal .browse-item-list tr.disabled,
.browse-modal .browse-item-list tr .selected,
.country-modal .browse-list tr.disabled,
.country-modal .browse-list tr .selected,
.country-modal .browse-item-list tr.disabled,
.country-modal .browse-item-list tr .selected {
  cursor: initial;
  background-color: #f5f5f5;
}

.browse-modal .browse-list tr.entry-list:hover,
.browse-modal .browse-item-list tr.entry-list:hover,
.country-modal .browse-list tr.entry-list:hover,
.country-modal .browse-item-list tr.entry-list:hover {
  background-color: #f5f5f5;
}

.browse-modal .browse-list tr td,
.browse-modal .browse-item-list tr td,
.country-modal .browse-list tr td,
.country-modal .browse-item-list tr td {
  padding: 8px 5px;
}

.browse-modal .browse-list tr td.select-box-item,
.browse-modal .browse-item-list tr td.select-box-item,
.country-modal .browse-list tr td.select-box-item,
.country-modal .browse-item-list tr td.select-box-item {
  color: #c4cdd5;
  font-size: 20px;
  transition: 0.2s;
}

.browse-modal .browse-list tr td.select-box-item [type=radio],
.browse-modal .browse-item-list tr td.select-box-item [type=radio],
.country-modal .browse-list tr td.select-box-item [type=radio],
.country-modal .browse-item-list tr td.select-box-item [type=radio] {
  width: 15px;
  height: 15px;
}

.browse-modal .browse-list tr td .option1,
.browse-modal .browse-item-list tr td .option1,
.country-modal .browse-list tr td .option1,
.country-modal .browse-item-list tr td .option1 {
  color: #29bc94;
}

.browse-modal .browse-list tr td .option2,
.browse-modal .browse-item-list tr td .option2,
.country-modal .browse-list tr td .option2,
.country-modal .browse-item-list tr td .option2 {
  color: #8246bf;
}

.browse-modal .browse-list tr td .option3,
.browse-modal .browse-item-list tr td .option3,
.country-modal .browse-list tr td .option3,
.country-modal .browse-item-list tr td .option3 {
  color: #ff9517;
}

.browse-modal .browse-list tr.selected td.select-box-item,
.browse-modal .browse-item-list tr.selected td.select-box-item,
.country-modal .browse-list tr.selected td.select-box-item,
.country-modal .browse-item-list tr.selected td.select-box-item {
  color: #2ac3f2;
}

.browse-modal .browse-list.no-results,
.browse-modal .browse-item-list.no-results,
.country-modal .browse-list.no-results,
.country-modal .browse-item-list.no-results {
  margin: 20px 0;
}

.browse-modal .browse-list.no-results tr td,
.browse-modal .browse-item-list.no-results tr td,
.country-modal .browse-list.no-results tr td,
.country-modal .browse-item-list.no-results tr td {
  border: none;
}

.browse-tags .image {
  width: 30px;
  height: 30px;
  background-color: #fafbfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
}

.browse-tags .browse-tag {
  display: table;
  width: 100%;
}

.browse-tags .browse-tag > * {
  display: table-cell;
  vertical-align: middle;
}

.browse-tags .browse-tag .title {
  padding-left: 20px;
  padding-right: 15px;
}

.browse-tags .browse-tag .text-right {
  text-align: right;
}

.browse-tags .browse-tag .remove-btn {
  background: none;
  border: none;
}

.browse-tags .browse-tag .remove-btn:hover {
  color: #2ac3f2;
}

main {
  color: #333;
  min-height: 100%;
  padding-top: 92px;
  margin-left: 220px;
}

main .content-container {
  margin: auto;
}

main .breadcrumb {
  position: fixed;
  z-index: 1000;
  top: 52px;
  left: 220px;
  right: 0;
  padding: 10px 16px;
  background-color: #3A3633;
  border: none;
  border-radius: 0;
  color: #c0bbb7;
  margin-bottom: 0;
}

main .breadcrumb > .active {
  color: #fff;
}

main .breadcrumb .button-list {
  position: relative;
}

main .breadcrumb .button-list:before {
  display: none;
}

main .breadcrumb .button-list .button-group {
  position: absolute;
  top: -10px;
  right: 0;
  padding: 4px 0;
  display: flex;
}

main .breadcrumb .button-list .button-group .btn {
  padding: 5px 12px;
  display: inline-block;
  margin-right: 10px;
}

main .breadcrumb .button-list .button-group .btn:last-child {
  margin-right: 0;
}

main #content {
  padding: 12px 0;
}

main #content .page-header {
  margin: 10px 0;
  margin-bottom: 0;
  border-bottom: none;
}

main #content .page-header h1 {
  margin-top: 0;
  font-size: 24px;
}

main #content .page-header .header-icon-text {
  font-size: 14px;
}

main #content .page-header .header-icon-text i {
  padding-right: 5px;
}

main #content .page-header .header-icon-text ul {
  margin: 0;
}

main #content .page-header .header-icon-text ul li {
  display: inline-block;
  padding-right: 15px;
}

main #content .page-header .header-icon-text a:hover {
  color: #2ac3f2;
}

main #content .header-actions {
  margin-bottom: 10px;
}

main #content .header-actions .header-action-item {
  display: inline-block;
}

main #content .header-actions .header-action-item .header-action-icon-text {
  font-size: 14px;
}

main #content .header-actions .header-action-item .header-action-icon-text i {
  padding-right: 5px;
}

main #content .header-actions .header-action-item .header-action-icon-text ul {
  margin: 0;
}

main #content .header-actions .header-action-item .header-action-icon-text ul li {
  display: inline-block;
  padding-right: 15px;
}

main #content .header-actions .header-action-item .header-action-icon-text a:hover {
  color: #2ac3f2;
}

main #content .header-actions .header-action-item .dropdown-toggle:hover {
  color: #2ac3f2;
}

main #content .widget .header {
  background-color: #2ac3f2;
  color: #fff;
  padding: 10px 8px;
  text-transform: uppercase;
}

main #content .widget .filters {
  text-align: right;
  padding: 6px;
  padding-bottom: 2px;
  border: 1px solid #dddddd;
  border-bottom: none;
  background: #fff;
}

main #content .widget .filters form {
  padding: 0;
  border: none;
  background-color: transparent;
}

main #content .widget .filters form label {
  font-weight: 400;
  position: relative;
}

main #content .widget .filters form label input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  padding-right: 25px;
}

main #content .widget .filters form label button {
  position: absolute;
  top: 0;
  right: 0;
  color: #C0BB9D;
  background: transparent;
  border: none;
  height: 30px;
}

main #content .widget .filters form select.searchby {
  display: inline-block;
  max-width: 100px;
}

main #content .widget .table-responsive {
  overflow-x: visible;
}

main #content .widget .table-responsive .table-body {
  height: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -2px;
}

main #content .widget .table-responsive .table-body .scroll-wrapper {
  max-height: 500px;
}

main #content .widget .table-responsive .table-body .scroll-wrapper table {
  border-bottom: none;
  border-top: none;
}

main #content .widget .table-responsive .table-body .scroll-wrapper table tr.selected {
  background: #6B6868;
  color: #fff;
}

main #content .widget .table-responsive .table-body .scroll-wrapper table td:last-child {
  cursor: pointer;
}

main #content .widget .table-responsive .table-body .scroll-wrapper table td.empty {
  text-align: center;
}

main #content .widget .table {
  background: #fff;
  margin-bottom: 0;
}

main #content .widget .table img {
  max-width: 120px;
}

main #content .widget .table .image {
  width: 30px;
  height: 30px;
  background-color: #fafbfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
}

main #content .widget .table .sortable-icon {
  color: #ccc;
  cursor: move;
}

main #content .widget .table i.fa-star,
main #content .widget .table i.fa-star-o {
  font-size: 16px;
}

main #content .widget .table td {
  vertical-align: middle;
}

main #content .widget .table td i.fa-star,
main #content .widget .table td i.fa-star-o {
  color: #f0ad4e;
  cursor: pointer;
}

main #content .widget .table td i.fa-star:hover,
main #content .widget .table td i.fa-star-o:hover {
  text-shadow: 1px 1px #ccc;
}

main #content .widget .table .sortable .fa {
  float: right;
  line-height: 20px;
}

main #content .widget .pagination-links {
  background: #fff;
  padding: 6px;
  padding-bottom: 2px;
  border: 1px solid #dddddd;
  font-size: 12px;
}

main #content .widget .pagination-links .pagination {
  margin: 0;
}

main #content .widget .pagination-links .pagination > .active span {
  background-color: #2ac3f2;
  border-color: #2ac3f2;
}

main #content .widget .empty {
  background: #fff;
  padding: 90px 10px;
  border: 1px solid #dddddd;
  font-size: 16px;
}

main #content .table-view th {
  width: 120px;
}

main #content .table-view img {
  max-width: 100%;
}

.permission-list {
  padding-left: 15px;
}

.permission-list li {
  padding: 5px 0px;
}

.permission-list li input[type=checkbox] {
  margin-right: 10px;
}

.form.row {
  margin: 0;
}

/** for asset tags **/

.sumo-tag {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.sumo-tag.active {
  background: #2ac3f2;
  color: #fff;
}

/** for asset search, sort and filter **/

.search-container {
  margin-bottom: 10px;
}

.search-container .form-control {
  display: inline-block;
  max-width: 200px;
}

.sort-container {
  display: inline-block;
  padding-right: 20px;
}

.sort-container .form-control {
  display: inline-block;
  width: auto;
}

.filter-container {
  display: inline-block;
}

.filter-container .form-control {
  display: inline-block;
  width: auto;
}

.filter-container .date-range {
  display: inline-block;
}

.filter-container .date-range button {
  padding: 4px 8px;
  margin-left: 5px;
}

.filter-container .dropdownDatepickerGroup {
  display: inline-block;
}

/** for asset multi select **/

.sumo-asset-select-multi > label {
  width: 100%;
}

.sumo-asset-select-multi > label .multi-name {
  max-width: 200px;
  display: inline-block;
  border: none;
  box-shadow: none;
}

.sumo-asset-select-multi > label a {
  margin-left: 8px;
  font-weight: 400;
  text-decoration: underline;
  color: #2ac3f2;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset {
  width: 120px;
  height: 120px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid rgba(195, 207, 216, 0.3);
  float: left;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset div.sumo-asset-img-hover-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(58, 54, 51, 0.6);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset div.sumo-asset-img-hover-overlay ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset div.sumo-asset-img-hover-overlay ul a {
  padding: 8px 6px;
  display: block;
  line-height: 0;
  text-align: center;
  color: #fff;
  outline: none !important;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset:hover div.sumo-asset-img-hover-overlay {
  opacity: 1;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset img {
  max-width: 100%;
  max-height: 100%;
}

.sumo-asset-select-multi .images-container .sumo-asset-img-container {
  width: 100%;
  height: 100%;
}

.sumo-add-form .sumo-add-multi {
  margin-left: 8px;
  font-weight: 400;
  text-decoration: underline;
  color: #2ac3f2;
}

.conditional-collapse {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.conditional-collapse.in {
  transition: 1s;
  max-height: 500px;
  overflow: visible;
}

label[for=inventory_notif] {
  margin-left: 5px;
}

.custom-radio.no-title .btn-holder .custom-radio-btn {
  margin: 0;
}

.custom-radio.no-title .btn-holder .custom-radio-btn .radio-dot {
  margin: 0;
}

.custom-radio.no-title .btn-holder .custom-radio-btn input {
  margin: 0;
  width: 0;
}

.custom-radio .btn-holder {
  display: inline-block;
}

.custom-radio .btn-holder .custom-radio-btn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.custom-radio .btn-holder .custom-radio-btn.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.custom-radio .btn-holder .custom-radio-btn input {
  opacity: 0;
}

.custom-radio .btn-holder .custom-radio-btn .radio-dot {
  padding: 2px;
  border-radius: 100%;
  border: 1px solid #2ac3f2;
  position: relative;
  margin-right: 5px;
}

.custom-radio .btn-holder .custom-radio-btn .radio-dot > div {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: #2ac3f2;
  transition: 0.3s;
  transform: scale(0, 0);
}

.custom-radio .btn-holder .custom-radio-btn.selected .radio-dot > div {
  transform: scale(1, 1);
}

#importModal a {
  color: #2ac3f2;
}

#importModal .is-overwrite {
  width: 16px;
  height: 16px;
  display: inline-block;
}

form.update-import {
  padding: 0px;
  border: none;
  background: transparent;
}

.category-tree-table {
  margin: 0;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.category-tree-table .category-details {
  /* padding:10px;*/
  display: flex;
  padding: 0px;
  border-top: 1px solid #e1e1e1;
  background: #fff;
}

.category-tree-table .category-details > .delete-box {
  border-right: 1px solid #e1e1e1;
  position: relative;
  padding: 0 10px;
  cursor: pointer;
  line-height: 41px;
}

.category-tree-table .category-details > .delete-box .form-box-checkbox {
  width: 16px;
  cursor: pointer;
  margin-right: 0;
}

.category-tree-table .category-details > .delete-box .form-box-checkbox input {
  cursor: pointer;
  box-shadow: none;
  border: none;
  display: block;
  outline: none;
}

.category-tree-table .category-details > .category-title {
  width: 100%;
}

.category-tree-table .category-details > .category-title.selected > .flex-container {
  color: #fff;
  background-color: #2ac3f2;
}

.category-tree-table .category-details > .category-title > .flex-container {
  display: flex;
  align-items: center;
  /* padding:10px;*/
  transition: 0.2s;
  border-right: 1px solid #e1e1e1;
  cursor: pointer;
  flex-wrap: nowrap;
}

.category-tree-table .category-details > .category-title > .flex-container > .title {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.category-tree-table .category-details > .category-title > .flex-container > .title > div {
  width: 100%;
}

.category-tree-table .category-details > .category-title > .flex-container > .title > div.drop-down {
  width: auto;
  display: inline-block;
  transition: 0.3s;
}

.category-tree-table .category-details > .category-title > .flex-container > .child-indicator {
  font-size: 0.8em;
  margin: -5px 5px 0 10px;
}

.category-tree-table .category-details > .category-title > .flex-container > .action {
  /* margin:0 10px;*/
  display: inherit;
}

.category-tree-table .category-details > .category-title > .flex-container > .action .btn {
  margin: 0 10px;
}

.category-tree-table .category-details > .category-title > .flex-container:hover {
  color: #fff;
  background-color: #2ac3f2;
}

.category-tree-table .category-details > .category-title > .child-collapse {
  transition: 0.5s;
  max-height: 0;
  overflow: hidden;
}

.category-tree-table .category-details > .category-title > .child-collapse > .category-details {
  border-top: 1px solid transparent;
}

.category-tree-table .category-details > .category-title > .child-collapse.in {
  transition: 2s;
  max-height: 1000px;
  overflow: visible;
}

.category-tree-table .category-details > .category-title > .child-collapse.in > .category-details {
  border-top: 1px solid #e1e1e1;
}

.category-tree-table .category-details > .category-title.in > .flex-container > .title > .drop-down {
  transform: rotate(180deg);
}

.category-tree-table .category-details label {
  padding: 10px;
}

.browse-selected-products-table {
  width: 100%;
  margin-bottom: 15px;
}

.browse-selected-products-table .selected-order-item .image {
  width: 30px;
  height: 30px;
  background-color: #fafbfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
}

.browse-selected-products-table .selected-order-item td {
  padding: 10px 5px;
}

.browse-selected-products-table .selected-order-item td:first-child {
  padding-left: 0;
}

.browse-selected-products-table .selected-order-item td:last-child {
  padding-right: 0;
}

.browse-selected-products-table .selected-order-item td.image-col {
  width: 45px;
}

.browse-selected-products-table .selected-order-item td.quantity-col {
  width: 110px;
  padding: 0 15px;
}

.browse-selected-products-table .selected-order-item td.quantity-col input {
  width: 100%;
}

.browse-selected-products-table .selected-order-item td.remove-col {
  color: #808080;
}

.browse-selected-products-table .selected-order-item td.remove-col:hover {
  color: #333333;
}

.browse-selected-products-table .selected-order-item td .title {
  color: #2ac3f2;
}

.browse-selected-products-table .selected-order-item td .title a:hover {
  color: #6bdcff;
}

.browse-selected-products-table .selected-order-item td .sub {
  color: #808080;
  font-size: 12px;
  text-transform: uppercase;
}

.browse-selected-products-table .selected-order-item td .sub-price {
  color: #9C9C9C;
  font-size: 12px;
  text-decoration: line-through;
}

.browse-selected-products-table .selected-order-item td .title-price {
  color: #2ac3f2;
}

.browse-selected-products-price-details table {
  width: 100%;
}

.browse-selected-products-price-details table .col {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0;
}

.modal .row {
  margin: 5px 0px;
}

.modal .form-box-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.modal .form-box-checkbox input[type=checkbox] {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.info-box .row {
  margin-bottom: 10px;
}

.info-box .row p {
  word-wrap: break-word;
}

.info-box .row p.primary {
  color: #2ac3f2;
}

.info-box .row p.sub {
  color: #808080;
}

.info-box .row p.compress {
  margin: 0px;
}

.info-box .row p a {
  font-size: 14px;
  color: #2ac3f2;
  font-weight: normal;
  text-decoration: underline;
}

.control-with-symbol {
  padding: 0;
  display: flex;
}

.control-with-symbol > div {
  height: 100%;
  line-height: 32px;
  padding: 0 10px;
  background: #FFF;
  width: 32px;
}

.control-with-symbol input {
  border: none;
  outline: none;
  width: 100%;
}

.discount-modal .input-buttons {
  padding: 0;
  display: flex;
  width: 197px;
}

.discount-modal .input-buttons > * {
  height: 100%;
  line-height: 32px;
}

.discount-modal .input-buttons .type-selector {
  text-align: center;
  width: 32px;
  padding: 0 5px;
  border: none;
  border-right: 1px solid #ddd;
  cursor: pointer;
  border-radius: 0;
  color: #2ac3f2;
}

.discount-modal .input-buttons .control-with-symbol input {
  width: 100px;
  padding-left: 10px;
}

.discount-modal .input-buttons .control-with-symbol.amount input {
  padding-left: 0;
}

.discount-modal .input-buttons .control-with-symbol.amount .amount-symbol {
  display: block;
}

.discount-modal .input-buttons .control-with-symbol.amount .percent-symbol {
  display: none;
}

.discount-modal .input-buttons .control-with-symbol.percent input {
  text-align: right;
}

.discount-modal .input-buttons .control-with-symbol.percent .amount-symbol {
  display: none;
}

.discount-modal .input-buttons .control-with-symbol.percent .percent-symbol {
  display: block;
}

.discount-modal .coupon-display {
  width: 100%;
  background: #f7f7f7;
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.discount-modal .coupon-display .coupon-display-price {
  padding: 6px;
}

.discount-modal .coupon-display .coupon-display-check {
  position: absolute;
  right: 5px;
}

.form-featured {
  display: flex;
}

.form-featured .form-group .toggle {
  min-width: 120px;
  min-height: 34px;
}

.form-featured .form-group:first-child {
  flex: 1;
}

.vendor-data-list td .image {
  width: 50px;
  height: 50px;
  background-color: #2ac3f2;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
  border-radius: 3px;
}

.variants-add-box tbody tr .select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: #FFF;
  border: none;
}

.variants-add-box tbody tr .select2-container--default .select2-selection--multiple .select2-selection__choice span {
  color: #FFF;
}

.variants-add-box tbody tr .select2-container--default .select2-selection--multiple .select2-selection__choice span:hover {
  color: #333;
}

.variants-add-box tbody tr:first-child .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #29bc94;
}

.variants-add-box tbody tr:nth-child(2) .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #8246bf;
}

.variants-add-box tbody tr:nth-child(3) .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #ff9517;
}

.variants-add-box .variant-combinations {
  width: 100%;
}

.variants-add-box .variant-combinations thead th {
  min-width: 100px;
}

.variants-add-box .variant-combinations thead th:first-child {
  max-width: 37px;
}

.variants-add-box .variant-combinations th,
.variants-add-box .variant-combinations td {
  border-bottom: 1px solid #ebeef0;
  padding: 8px 10px;
  text-align: left;
}

.variants-add-box .variant-combinations tbody tr:last-child td {
  border-bottom: none;
}

.variants-add-box .variant-combinations tbody tr td {
  vertical-align: top;
}

.variants-add-box .variant-combinations tbody tr td:first-child {
  padding-right: 0;
  text-align: center;
}

.variants-add-box .variant-combinations tbody tr td:first-child input[type=checkbox] {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.variants-add-box .variant-combinations tbody tr td:first-child,
.variants-add-box .variant-combinations tbody tr td:nth-child(2) {
  vertical-align: middle;
}

.variants-add-box .variant-combinations tbody tr td ul {
  margin-bottom: 0;
}

.variants-add-box .variant-combinations .variant-values {
  word-break: break-all;
}

.variants-add-box .variant-combinations .variant-values span.option-1 {
  color: #29bc94;
}

.variants-add-box .variant-combinations .variant-values span.option-2 {
  color: #8246bf;
}

.variants-add-box .variant-combinations .variant-values span.option-3 {
  color: #ff9517;
}

.select2-container--default {
  width: auto !important;
}

#previewEmailInvoice .email-preview-header {
  display: flex;
  flex-direction: column;
}

#previewEmailInvoice .email-preview-header .email-info {
  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px rgba(229, 229, 229, 0.5);
}

#previewEmailInvoice .email-preview-header .email-info:last-child {
  border-bottom: 0;
}

#previewEmailInvoice .email-preview-header .email-info .email-label {
  min-width: 80px;
}

#previewEmailInvoice .email-container {
  width: 100%;
  border: solid 1px #e5e5e5;
  overflow-y: scroll;
  height: 300px;
}

#previewEmailInvoice .email-container .email {
  display: flex;
  flex-direction: column;
}

#previewEmailInvoice .email-container .email .info {
  padding: 10px;
}

#previewEmailInvoice .email-container .email .info .shop-name {
  font-size: 24px;
}

#previewEmailInvoice .email-container .email .info .subject {
  font-size: 16px;
  color: #808080;
}

#previewEmailInvoice .email-container .email .info .call-to-action-container {
  display: flex;
  flex-direction: column;
}

#previewEmailInvoice .email-container .email .info .call-to-action-container .text {
  font-size: 20px;
}

#previewEmailInvoice .email-container .email .info .call-to-action-container .message {
  font-size: 14px;
  padding-left: 10px;
}

#previewEmailInvoice .email-container .email .info .call-to-action-container .button-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#previewEmailInvoice .email-container .email .info .call-to-action-container .button-container > a {
  color: white;
}

#previewEmailInvoice .email-container .email .info .call-to-action-container .button-container > a:hover {
  color: black;
}

#previewEmailInvoice .email-container .email .info .call-to-action-container .button-container > a,
#previewEmailInvoice .email-container .email .info .call-to-action-container .button-container > div {
  padding: 10px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

#previewEmailInvoice .email-container .email .info .call-to-action-container .button-container > a span,
#previewEmailInvoice .email-container .email .info .call-to-action-container .button-container > div span {
  display: block;
  width: 100%;
}

#previewEmailInvoice .email-container .email .info .call-to-action-container .button-container > a:first-child,
#previewEmailInvoice .email-container .email .info .call-to-action-container .button-container > div:first-child {
  background-color: #2ac3f2;
}

#previewEmailInvoice .email-container .email .order-summary {
  border-top: 1px solid rgba(229, 229, 229, 0.5);
  border-bottom: 1px solid rgba(229, 229, 229, 0.5);
  padding: 15px 0;
}

#previewEmailInvoice .email-container .email .order-summary .header {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
}

#previewEmailInvoice .email-container .email .order-summary .order-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#previewEmailInvoice .email-container .email .order-summary .order-list .order-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(229, 229, 229, 0.5);
  padding-bottom: 10px;
}

#previewEmailInvoice .email-container .email .order-summary .order-list .order-item .item-image-container {
  height: 50px;
  width: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(229, 229, 229, 0.5);
  margin-right: 10px;
}

#previewEmailInvoice .email-container .email .order-summary .order-list .order-item .item-info-container {
  font-weight: bold;
  flex: 1;
  margin-right: 10px;
}

#previewEmailInvoice .email-container .email .order-summary .price-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#previewEmailInvoice .email-container .email .order-summary .price-details .detail-container {
  display: flex;
}

#previewEmailInvoice .email-container .email .order-summary .price-details .detail-container.total {
  padding-top: 10px;
  border-top: solid 1px #e5e5e5;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

#previewEmailInvoice .email-container .email .order-summary .price-details .detail-container .flex-item {
  flex: 1;
}

#previewEmailInvoice .email-container .email .customer-information {
  border-top: 1px solid rgba(229, 229, 229, 0.5);
  border-bottom: 1px solid rgba(229, 229, 229, 0.5);
  padding: 15px 0;
}

#previewEmailInvoice .email-container .email .customer-information .shipping-details {
  padding: 10px;
}

#previewEmailInvoice .email-container .email .customer-information .shipping-details div {
  padding-left: 5px;
}

#previewEmailInvoice .email-container .email .customer-information .shipping-details .shipping-header {
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 0;
}

#previewEmailInvoice .email-container .email .customer-information .billing-details {
  padding: 10px;
}

#previewEmailInvoice .email-container .email .customer-information .billing-details div {
  padding-left: 5px;
}

#previewEmailInvoice .email-container .email .customer-information .billing-details .billing-header {
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 0;
}

#previewEmailInvoice .email-container .email .note-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#previewEmailInvoice .email-container .email .note-container .note-label {
  font-weight: bold;
}

#previewEmailInvoice .email-container .email .note-container .note {
  padding-left: 10px;
}

.variants-container #option1 {
  color: #29bc94;
}

.variants-container #option2 {
  color: #8246bf;
}

.variants-container #option3 {
  color: #ff9517;
}

.variants-container .image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  background-color: #fafbfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
}

.variants-container .product-info {
  display: flex;
}

.variants-container .product-info .info-box:first-child {
  margin-right: 15px;
}

.variants-container .product-info .image {
  width: 68px;
  height: 68px;
  min-width: 68px;
}

.variants-container .product-info .sub {
  padding-top: 3px;
  opacity: 0.8;
  font-size: 13px;
}

.variants-container .product-info .link {
  padding-top: 5px;
}

.variants-container .product-info .link a {
  color: #2ac3f2;
  text-decoration: underline;
}

.variants-container .variant-list li > a > div {
  padding: 14px 15px;
  border-bottom: 1px solid #dddddd;
}

.variants-container .variant-list li > a > div .image {
  margin-right: 10px;
}

.variants-container .variant-list li > a:hover > div {
  background-color: #2ac3f2;
  color: #fff;
}

.variants-container .variant-list li.active > a > div {
  background-color: #2ac3f2;
  color: #fff;
  font-weight: bold;
}

.variant-selector {
  margin-bottom: 10px;
}

.variant-selector .variant-selector-list {
  display: inline;
  margin: 0;
  margin-bottom: -5px;
}

.variant-selector .variant-selector-list .variant-selector-item {
  display: inline-block;
  margin-right: 10px;
}

.variant-selector .variant-selector-list .variant-selector-link {
  cursor: pointer;
}

.variant-selector .variant-selector-list .variant-selector-link:hover {
  text-decoration: underline;
}

.variant-selector .variant-selector-list .variant-selector-link.default-option {
  color: #95a7b7;
}

.variant-selector .variant-selector-list .variant-selector-link.option-1 {
  color: #29bc94;
}

.variant-selector .variant-selector-list .variant-selector-link.option-2 {
  color: #8246bf;
}

.variant-selector .variant-selector-list .variant-selector-link.option-3 {
  color: #ff9517;
}

.product-inner-variants {
  width: 100%;
}

.product-inner-variants .select {
  width: 37px;
}

.product-inner-variants th,
.product-inner-variants td {
  border-bottom: 1px solid #ebeef0;
  padding: 8px 10px;
  text-align: left;
}

.product-inner-variants th:first-child input[type=checkbox],
.product-inner-variants td:first-child input[type=checkbox] {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.product-inner-variants th .image,
.product-inner-variants td .image {
  width: 40px;
  height: 40px;
  background-color: #FFF;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
  cursor: pointer;
}

.product-inner-variants th .image:hover,
.product-inner-variants td .image:hover {
  border: 1px solid rgba(195, 207, 216, 0.8);
}

.product-inner-variants tbody tr td {
  padding: 8px 5px;
}

.product-inner-variants tbody tr td:first-child {
  padding: 8px 10px;
}

.product-inner-variants tbody tr td .form-control {
  border: 1px solid transparent;
  box-shadow: none;
  padding: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-inner-variants tbody tr td .form-control[name="option0[]"] {
  color: #29bc94;
}

.product-inner-variants tbody tr td .form-control[name="option1[]"] {
  color: #8246bf;
}

.product-inner-variants tbody tr td .form-control[name="option2[]"] {
  color: #ff9517;
}

.product-inner-variants tbody tr td:last-child {
  vertical-align: middle;
}

.product-inner-variants tbody tr td:last-child .form-group {
  display: flex;
}

.product-inner-variants tbody tr td:last-child .form-group .btn:first-child {
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius-right-radius: 0;
}

.product-inner-variants tbody tr td:last-child .form-group .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.product-inner-variants tbody tr:hover td {
  background-color: #f9fafb;
}

.product-inner-variants tbody tr:hover td .form-control {
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.variants-modal .modal-body table {
  width: 100%;
}

.variants-modal .modal-body table tr td ul li {
  background-color: #ddd;
}

.variants-modal .modal-body table tr:first-child td ul li {
  background-color: #29bc94;
}

.variants-modal .modal-body table tr:nth-child(2) td ul li {
  background-color: #8246bf;
}

.variants-modal .modal-body table tr:nth-child(3) td ul li {
  background-color: #ff9517;
}

.variants-modal .modal-body table td {
  padding: 5px 10px;
  vertical-align: top;
}

.variants-modal .modal-body table td:first-child {
  padding-left: 0;
  width: 170px;
}

.variants-modal .modal-body table td ul li {
  color: #FFF;
  padding: 7px 10px;
  border-radius: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  display: inline-block;
}

.variants-modal .modal-body table td ul li .remove {
  padding-left: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.variants-modal .modal-body table td ul li .remove:hover {
  color: #333;
}

.variants-modal .modal-body table td ul li.drag {
  cursor: pointer;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -webkit-grab;
}

.variants-modal .modal-body table td ul li.drag:active,
.variants-modal .modal-body table td ul li.drag:focus {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.variants-modal .modal-body table .reorder-variant tr:first-child td:first-child span {
  color: #29bc94;
}

.variants-modal .modal-body table .reorder-variant tr:nth-child(2) td:first-child span {
  color: #8246bf;
}

.variants-modal .modal-body table .reorder-variant tr:nth-child(3) td:first-child span {
  color: #ff9517;
}

.variants-modal .modal-body table .reorder-variant td:first-child {
  line-height: 34px;
  cursor: pointer;
}

.variants-modal .modal-body table .reorder-variant td:first-child i {
  font-size: 13px;
  padding-right: 10px;
  cursor: pointer;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -webkit-grab;
}

.variants-modal .modal-body table .reorder-variant td:first-child i:active,
.variants-modal .modal-body table .reorder-variant td:first-child i:focus {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.variants-modal .modal-body table .reorder-variant td .reorder {
  padding-right: 10px;
}

.product-reviews.review-view-section {
  margin-bottom: 30px;
}

.product-reviews .product-info {
  background-color: #fff;
}

.product-reviews .product-info .container-fluid {
  display: flex;
  padding: 10px 0px;
}

.product-reviews .product-info .container-fluid > div {
  align-self: auto;
  padding: 0px 5px;
}

.product-reviews .product-info .container-fluid > div.rating-avg-container .rating-avg {
  width: 100%;
  font-size: 50px;
  text-align: center;
}

.product-reviews .product-info .container-fluid > div.rating-breakdown-container {
  width: 280px;
}

.product-reviews .product-info .container-fluid > div.rating-breakdown-container ul > li {
  padding: 5px 0px;
}

.product-reviews .product-info .container-fluid > div.rating-breakdown-container ul > li label {
  min-width: 80px;
  margin-bottom: 3px;
}

.product-reviews .product-info .container-fluid > div.rating-breakdown-container ul > li div.line {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.product-reviews .product-info .container-fluid > div.rating-breakdown-container ul > li div.percentage {
  border-top: 1px solid #2ac3f2;
}

.product-reviews .product-info .container-fluid > div.rating-breakdown-container ul > li span.num {
  border: #efefef solid 1px;
  border-radius: 3px;
  padding: 0px 8px;
  font-size: 12px;
  float: right;
}

.product-reviews .product-info .container-fluid > div.rating-info-text-containerd p {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-reviews .product-info .image {
  height: 100px;
  width: 100px;
  background-color: #fafbfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
}

.next-list {
  margin-top: 15px;
}

.next-list > li {
  border-top: 1px solid #dfe4e8;
  margin-left: 15px;
}

.next-list > li:first-child {
  border-top: none;
}

.next-list > li .next-list-item .stack {
  display: flex;
  align-items: center;
}

.next-list > li .next-list-item .stack > div {
  flex: 0 0 auto;
  margin: 7.5px 0 7.5px 15px;
}

.next-list > li .next-list-item .stack > div.image {
  height: 40px;
  width: 40px;
  margin-left: 0;
  margin-right: 15px;
  background-color: #fafbfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
}

.next-list > li .next-list-item .stack > div.title {
  margin-left: 0;
  flex: 1 1 auto;
}

.next-list > li .next-list-item .stack > div.close button {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.next-list > li .next-list-item .stack > div.close button:hover {
  color: #333;
}

.next-list > li .next-list-item.next-list-child {
  margin-left: 55px;
}

.next-list > li .next-list-item.next-list-child li {
  border-top: 1px solid #dfe4e8;
}

.next-list > li .next-list-item.next-list-child li .stack .title {
  margin: 12.5px 0;
}

.reports-index-card .metric-name {
  padding-top: 7px;
  font-size: 12px;
}

.reports-index-card .index-metric .metric-wrapper .value {
  font-size: 30px;
  font-weight: 500;
}

.reports-index-card .subdued {
  color: #808080;
}

.reports-index-card a {
  color: #2ac3f2;
}

.reports-index-card a:hover {
  text-decoration: underline;
}

.reports-index-card .report-index-table .report-title {
  font-size: 12px;
  padding-bottom: 8px;
}

.reports-index-card .report-index-table table {
  width: 100%;
}

.reports-index-card .report-index-table table tr:last-child td {
  border-bottom: none;
}

.reports-index-card .report-index-table table tr td {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.reports-index-card .report-index-table table tr td:first-child {
  padding-right: 5px;
}

.backdrop-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

.ct-label {
  font-size: 10px;
  white-space: nowrap;
}

.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
  stroke: #2ac3f2;
}

.table-detailed > tbody > tr:nth-of-type(4n+1) {
  background-color: #f9f9f9;
}

.table-detailed.table > tbody > tr.active > td,
.table-detailed.table > tbody > tr.active > th,
.table-detailed.table > tbody > tr > td.active,
.table-detailed.table > tbody > tr > th.active,
.table-detailed.table > tfoot > tr.active > td,
.table-detailed.table > tfoot > tr.active > th,
.table-detailed.table > tfoot > tr > td.active,
.table-detailed.table > tfoot > tr > th.active,
.table-detailed.table > thead > tr.active > td,
.table-detailed.table > thead > tr.active > th,
.table-detailed.table > thead > tr > td.active,
.table-detailed.table > thead > tr > th.active {
  background-color: #d9edf7;
  color: #333;
  border-bottom-color: #d9edf7;
  transition: background 0.3s ease-out;
}

.table-detailed i.detail-indicator {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  margin-left: 10px;
}

#sales-table.table-detailed .void {
  padding-left: 30px;
  font-size: 11px;
  color: #860808;
  font-weight: 600;
}

.table-detailed .active i.detail-indicator:before {
  content: "\F0D7";
}

.table-detailed i.detail-indicator:before {
  content: "\F0DA";
}

.table-detailed > tbody > tr:hover {
  background-color: #f7fafc;
}

.table-detailed tr.row-detail {
  display: none;
  background: #fff !important;
}

.table-detailed tr.row-detail > td {
  padding: 0;
}

.table-detailed.table > tbody > tr.active > td:first-child {
  border-left: 5px solid #2ac3f2;
}

.table-detailed tr.row-detail > td {
  border-top-color: #d9edf7;
  border-left: 5px solid #2ac3f2;
}

.table-detailed tr.row-detail table {
  margin: 15px 0px;
}

.table-detailed tr.row-detail table thead th {
  font-size: 11px;
}

.table-detailed tr.row-detail table tfoot th {
  font-size: 16px;
}

.table-detailed tr.row-detail table td {
  padding: 8px 8px;
  font-size: 12px;
}

.table-detailed > tbody > tr.active + tr.row-detail {
  display: table-row;
}

.table-detailed tr.row-detail .remarks {
  border: 1px solid #eee;
  background: #fafa fa;
  margin: 35px 25px;
  padding: 20px;
}

.error {
  color: red;
  font-size: 12px;
}

/* TIMELINE */

.timeline {
  list-style: none;
  padding: 20px 0 0px 30px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 4px;
  background-color: #ddd;
  left: 0%;
  margin-left: 28.5px;
}

.timeline > li {
  position: relative;
  margin-top: 25px;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 100%;
  float: left;
  padding-left: 50px;
  padding-top: 15px;
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline .timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline .timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline .timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline .timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline .timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline .timeline-date-header {
  padding: 20px 15px 20px 50px;
}

.timeline .timeline-content-row-content {
  padding-left: 15px;
}

.actions a {
  display: inline-flex;
}

