html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.dropdown-menu.show {
  background: #343a40;
}

#sidenav {
  height: 100%;
  width: 300px;
  padding-top: 80px;
  position: absolute;
  top: 0;
  z-index: 1032;
  color: white;
}

#sidenav.left {
  left: -300px;
}

#sidenav.right {
  right: -300px;
}

#sidenav .collapse-list {
  padding-left: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  z-index: 1031;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: none;
}

.nabvbar-toggler {
  border: none;
  outline: none;
}

.close-nav {
  outline: none;
}

