// @import "variables.scss";
@import "mixins.scss";

.caboodle-btn {
	border-radius: 4px;
	min-width: 100px;
	text-align: center; 
	color: $white;
    font-size: $medium;
    font-weight: normal;
	text-transform: initial;
	// margin: 10px auto;
	-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-moz-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	&.caboodle-btn-large {
		@include button-icon-font(48px, $small, $medium);
	}

	&.caboodle-btn-medium {
		@include button-icon-font(45px, $small, $medium);
	}

	&.caboodle-btn-small {
        @include button-icon-font(39px, $small, $medium);
    }
    
    &.caboodle-btn-x-small {
        min-width: 80px;
        @include button-icon-font(30px, $x-small, $small);
    }

	&.caboodle-btn-primary {
		background-color: $primary-medium;
	}

	&.caboodle-btn-danger {
		background-color: $red-medium;
	}

	&.caboodle-btn-grey {
		background-color: $grey-40;
	}

	&.caboodle-btn-dark {
		background-color: $grey-80;
	}

	&.caboodle-btn-light{
		background-color: white;
		color: $primary-medium !important;
		box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);

		&:hover{
			filter: brightness(0.95);
			color: $primary-medium !important;
		}
		&:focus{
			color: $primary-medium !important;
		}

	}

	&.caboodle-btn-warning {
		background-color: $warning;
	}

	&.caboodle-btn-secondary {
		background-color: $secondary-medium;
	}

	&.caboodle-btn-cancel {
		background-color: transparent;
		color: $primary-medium;
	}

	&.caboodle-btn-transparent {
	    background-color: rgba(0,0,0,.87);
	}

	&.caboodle-btn-clear {
		background: none;
		box-shadow: none;
		border: none;

		&.black {
			color: #111;
		}
	}

    &.caboodle-btn-icon {
        height: 30px;
        padding: 9px 18px;
        line-height: initial;
        width: auto;
        min-width: auto;
        text-align: center;

        i {
            padding: 0;
        }
    }
    
	&.btn-icon-left {
		i {
			padding-right: 10px;
		}
	}

	&.btn-icon-right {
		i {
			padding-left: 10px;
		}
	}

	&.btn-icon-both {
		justify-content: space-between;
		i {
			&:first-child {
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 10px;
			}
		}
	}

	&.btn-custom-width {
		min-width: initial;
	}

	&.btn-full-width {
		width: 100%;
	}

	&.btn-icon {
		color: $grey-100;
    }
    
    &.animated-btn-icon {
        i:not(.for-display) {
            transition: .2s;
            padding: 5px;

            &:hover {
                transform: scale(1.3, 1.3);
            }
        }
    }
}

.animated-icon {
    i:not(.for-display) {
        transition: .1s;

        &:hover {
            color: $primary-medium;
            transform: scale(1.3, 1.3);
        }
    }
}

.caboodle-btn-icon {
	color: $grey-60;
    --mdc-theme-primary:$grey-60;
    font-size: $x-small;
    padding: 0;
    min-width: 50px;

	&.btn-icon-left {
    	padding: 0 10px;
		i {
			padding-right: 5px;
		}
	}

	&.btn-icon-right {
    	padding: 0 16px;
		i {
			padding-left: 5px;
		}
	}

	&.caboodle-btn-primary {
		--mdc-theme-primary: $primary-medium;
	}

	&.caboodle-btn-danger {
		--mdc-theme-primary: $red-medium;
	}

	&.caboodle-btn-grey {
		--mdc-theme-primary: $grey-40;
	}

	&.caboodle-btn-dark {
		--mdc-theme-primary: $grey-80;
	}

	&.caboodle-btn-warning {
		--mdc-theme-primary: $warning;
	}

	&.caboodle-btn-secondary {
		--mdc-theme-primary: $secondary-medium;
	 }

	&.caboodle-btn-cancel {
		--mdc-theme-primary: $secondary-medium;
	}

	&.caboodle-btn-transparent {
	    --mdc-theme-primary: rgba(0,0,0,.87);
	}
}

.instagram-login-button {
	width: 200px;
	height: 39px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	padding-right: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
	color: #FFF;
	border: none;
	border-radius: 5px;
	font-family: 'Helvetica';
	box-shadow: inset 0px 0px 56px rgba(0, 0, 0, 0.2) !important;
	&:hover {
		box-shadow: inset 0px 0px 56px rgba(0, 0, 0, 0.4) !important;
		i {
			font-size: 32px;
		}
	}
	i {
		margin-right: 8px;
		font-size: 28px;
		-moz-transition: font-size 0.1s;
		transition: font-size 0.1s;
		width: 28px;
	}
}